.spinner {
    width: 40px;
    height: 40px;

    position: relative;
    margin: 100px auto;
}

.spinner-text{
    text-align: center;
    margin-top: -85px;
    font-size: 26px;
    color: #99B749
}

.spinner-reservation {
    width: 40px;
    height: 40px;

    position: relative;
    margin: 100px auto;
    margin-top: 50%;
}

.spinner-overlay{
    margin-left: -2rem;
    margin-bottom: -2rem;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 2000;
}

html {
    overflow-y: scroll;
}

input {
    outline: none;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #99B749;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

body {
    font-family: 'Open Sans';
}

.sebm-google-map-container {
    height: 56vh;
}

.modal-window {
    position: absolute;
    left: 0;
    right: 0;
    /*top: 2em;*/
    top: 85px;
    z-index: 2;
    max-width: 600px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    margin: 0 auto;
    opacity: 0.0;
    -webkit-transition: .2s opacity ease;
    -moz-transition: .2s opacity ease;
    -ms-transition: .2s opacity ease;
    -o-transition: .2s opacity ease;
    transition: .2s opacity ease;

}

.modal-window.modal-open {
    opacity: 1.0;
    box-shadow: 1px 4px 9px 3px lightgray;
}

.modal-window .close-button {
    z-index: 3;
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;
    height: 32px;
    width: 32px;
    line-height: 32px;
    background-color: #99B749;
    border-radius: 50%;
    text-align: center;
}

.modal-window .close-button:hover {
    text-decoration: none;
}

.modal-window--login {
    /*padding: 2em;*/
    width: 30%;
}

.modal-window--reservation {
    width: 50%;
}

.modal-window--reservation fieldset {
    padding: 0;
    border: none;
}

.modal-window--reservation h2 {
    font-family: 'Montserrat';
    color: #4c4c4c;
    font-weight: 400;
    margin-bottom: 1em;
}

.modal-window--reservation .col-6 input {
    width: 100%;
}

.modal-fixed {
    position: fixed;
    top: 50vh;
}

.reservation-label {
    display: block;
    color: #8C8C8C;
    position: relative;
}

.reservation-label p {
    margin-bottom: .5em;
}

.reservation-label--big {
    font-size: 1.25em;
}

.reservation-label--underline {
    border: 0px solid #fff;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to left, #fff 0%, lightgray 50%, #fff 100%);
    border-image-slice: 1;
}

.reservation-label input:not([disabled='disabled']) {
    display: inline; /*block*/
    border-radius: 3px;
    color: #545454;
    border: 1px solid lightgrey;
}

.reservation-label .input-full {
    width: 100%;
}

.input--transparent {
    border: none;
    background: #fff;
    min-width: 240px;
    text-align: right;
    font-size: .9em;
}

.button--accept {
    background: #99B749;
    color: #fff;
}

.reservation-label input[type=radio] {
    /*display: none;*/
    /*visibility: hidden;*/
}

.location-reservation {}


.location-reservation div label {
    color: #8C8C8C;
    padding-top: 2px;
}

.location-reservation div input {
    height: 1.85rem;
    float: left;
    text-align: left;
}

.reservation-label select {
    width: 100%;
    border-radius: 3px;
    background: #fff;
    color: #4c4c4c;
    border: 1px solid lightgrey;
}

select, input[type='date'], .input-full[name="boxValue"], input[name="startDate"] {
    height: 2.75rem !important;
}

.reservation-label-radio {
    transition: all .2s ease;
}

.reservation-label-radio:after {
    content: '';
    background: #fff;
    border: 1px solid #99B749;
    /*color: #fff;*/
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
    /*border: 1px solid #99B749;*/
    border-radius: 50%;
    position: absolute;
    right: -5px;
    top: -2px;
}

.reservation-label-radio:checked:after {
    content: '\002713';
    background: #99B749;
    color: #fff;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
    /*border: 1px solid #99B749;*/
    border-radius: 50%;
    position: absolute;
    right: -5px;
    top: -2px;
}

.reservation-label__caption {
    display: inline-block;
    max-width: 90%;
}

.modal-window--login__input {
    width: 100%;
    border-radius: 3px;
    margin-bottom: 1em;
    border: 1px solid lightgrey;
}

.settings-headline {
    margin-left: 20%;
    color: #99B749;
}

.settings-input-container {
    width: 80%;
}

.settings-input-container input {
    display: block;
    width: 75%;
    border-radius: 3px;
    margin-bottom: 1em;
    border: 1px solid lightgrey;
    margin: 1em auto;
}

::-webkit-input-placeholder {
    color: darkgray;
}

:-moz-placeholder { /* Firefox 18- */
    color: darkgray;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: darkgray;
}

:-ms-input-placeholder {
    color: darkgray;
}

.settings-input-container input:focus {
    outline: none;
    border: 1px solid #99B749;
}

.input-error {
    transition: all .5s ease;
    outline: none;
    border: 1px solid rgba(244, 64, 49, 0.68);
}

.navigation {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.navigation__tab {
    font-weight: 400;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: nowrap;
    color: #99B749;
    border-top: 2px solid #99B749;
    border-bottom: 2px solid #99B749;
    border-right: 2px solid #99B749;
    /*border-left: 2px solid #99B749;*/
    transition: all .2s ease;
}

.navigation__tab--active {
    background-color: #99B749;
    color: #fff;
}

.navigation__tab:hover {
    /*background-color: rgba(0, 163, 158, .7);*/
    background-color: #99B749;
    color: #fff;
    text-decoration: none;
}

.navigation__tab:last {
    border-right: 0;
}

.navigation__first-item:hover:before, .navigation__first-item.navigation__tab--active:before,
.navigation__last-item:hover:after, .navigation__last-item.navigation__tab--active:after {
    background-color: #99B749;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 60px solid green;
}

.navigation a {

}

.navigation__first-item {
    border-left: 2px solid #99B749;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.navigation__last-item {
    border-right: 2px solid #99B749;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.navigation__first-item:before {
    /*
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: -15px;
    width: 27px;
    height: 27px;
    background: #FFFFFF;
    border-right:2px solid #99B749;
    border-bottom:2px solid #99B749;
    -moz-transform:rotate(135deg);
    -webkit-transform:rotate(135deg);
    */
}

.navigation__last-item:after {
    /*
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    right: -17px;
    width: 27px;
    height: 27px;
    background: #FFFFFF;
    border-right:2px solid #99B749;
    border-bottom:2px solid #99B749;
    -moz-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    */
}

.location-preview {

}

.location-preview__img {
    -webkit-border-top-left-tradius: 10px;
    -moz-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -webkit-border-top-right-tradius: 10px;
    -moz-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    /*height: 190px;*/
}

.location-preview__headline {
    padding-left: 1rem;
    padding-right: 1rem;
    bottom: 0;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.location-desc {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
}

.location-desc__headline {
    color: #99B749;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.location-desc span {
    font-size: .85em;
}

.categories {

}

.categories__item {
    /*background-color: gainsboro;*/
}

.categories__item__caption {
    margin-top: 1rem;
    font-weight: 700;
}

.categories__item__text {
    font-size: .8em;
}

.categories__item-wrapper {
    box-sizing: border-box;
    width: 90%;
    background-color: #f9f9f9;
    padding: 1em 2em 1em 2em;
    color: #4C4C4C;
}

.categories__item-wrapper__headline {
    margin-top: 1em;
    margin-bottom: .25em;
    font-size: 1.25em;
    line-height: 1.3;
}

.categories__item-wrapper__pricing {
    word-break: break-all; /* ? */
}

.categories__item-wrapper__sizes {
    font-size: .8em;
}

.categories__item-wrapper img {
    /*width: 60%;*/
    margin: 1em auto 0.5em auto;
    max-height: 120px;
    min-width: 120px;
}

.text-green {
    color: #99B749;
}

.btn-green {
    background-color: #99B749 !important;
    color: #fff !important;
    font-weight: 300 !important;
    border: 1px solid transparent;
    transition: all .1s ease;
}

.btn-green:hover {
    background-color: #fff !important;
    color: #00A39E !important;
    border: 1px solid #00A39E;
}

.btn-transparent {
    font-weight: 300;
    color: #99B749;
}

.btn-green--settings {
    background-color: #99B749 !important;
    font-weight: 300;
    color: #fff;
    display: block;
    width: 20%;
    margin-right: 20%;
    border-radius: 3px;
}

.btn--lo {
    float:right;
    height:35px;
    width: initial;
    margin-right: 15px;
}

.btn-green--auth {
    background-color: #99B749 !important;
    font-weight: 300;
    color: #fff;
    width: 40%;
    border-radius: 3px;
}

.btn-green--auth:disabled {
    background-color: #B9C892 !important;
    cursor: default;
}

.categories-preview {
}

.categories-preview__navigation {
    width: 90%;
    margin-top: 6rem;
}

.categories-preview__navigation-fieldset {
    border: none;
}

.categories-preview__navigation-fieldset input[type="radio"] {
    visibility: hidden;
}

.categories-preview__navigation-tab {
    font-weight: 700;
    font-size: 1.25em;
    color: #CAECEB;
    text-transform: uppercase;
}

.categories-preview__navigation-tab__img {
    height: 32px;
    vertical-align: bottom;
}

.categories-preview__navigation-tab:hover {
    cursor: pointer;
}

.categories-preview__navigation-tab__text {
    display: inline-block;
    border-radius: 3px;
    padding-left: 40px;
    padding-right: 10px;
    height: 1.5em;
    line-height: 1.5em;
    transition: color .4s ease;
    font-family: 'Montserrat';
    font-size: 1.25em;
    color: rgba(181, 211, 79, 0.59);
}

.categories-preview__navigation-tab__text:before {
    content: '';
    width: 32px;
    height: 32px;
    left: 0;
    top: -8px;
    position: absolute;
    background-image: url('../assets/large-box-white-32.png');
}

.categories-preview__navigation-tab__text--active {
    /*background: #00A39E;*/
    /*color: #fff;*/
    font-weight: 700;
    /*font-size: 1.5em;*/
    color: #99B749;
    text-transform: uppercase;
}

.categories-preview__navigation-tab:hover {
    text-decoration: none;
}

.tab-s:before {
    top: 0px;
    background-image: url('../assets/small-box-light-32.png');
}

.tab-m:before {
    top: 0px;
    background-image: url('../assets/medium-box-light-32.png');
}

.tab-l:before {
    top: 0px;
    background-image: url('../assets/large-box-light-32.png');
}

.tab-s.categories-preview__navigation-tab__text--active:before {
    top: 0px;
    background-image: url('../assets/small-box-32.png');
}

.tab-m.categories-preview__navigation-tab__text--active:before {
    top: 0px;
    background-image: url('../assets/medium-box-32.png');
}

.tab-l.categories-preview__navigation-tab__text--active:before {
    top: 0px;
    background-image: url('../assets/large-box-32.png');
}

.boxes-aside {
}

.boxes-aside__top {
    width: 55%;
    padding-bottom: .55em;
    border-bottom: 2px solid gainsboro;
    font-weight: 700;
    font-size: 1.5em;
    color: #4C4C4C;
}

.boxes-aside__boxes-list {
    list-style-type: none;
    width: 55%;
    padding-left: 0;
}

.boxes-aside__boxes-list__item {
    color: #99B749;
    font-size: 1.5em;
    font-weight: 700;
    transition: color .2s ease;
    cursor: pointer;
}

.boxes-aside__boxes-list__item a {
    color: inherit;
}

.boxes-aside__boxes-list__item a:hover {
    text-decoration: none;
}

.boxes-aside__boxes-list__item--inactive {
    color: rgba(0, 163, 158, .2);
    font-size: 1.25em;
}

.boxes-main {
}

.boxes-main__list {
    list-style-type: none;
    padding-left: 0;
}

.boxes-main__list__item img {
    width: 7em;
}

input[type='radio'], input[type='checkbox'] {
    cursor: pointer;
}

.note {
    background: #fff;
    z-index: 10;
    top: 20px;
    right: 10px;
    color: #fff;
}

.note p {
    margin: 0;
}

.note-success {
    background-color: #70aa61;
}

.note-error {
    background-color: rgba(242, 116, 81, 0.82);
}

.p--bigger {
    font-size: 1.33em;
    font-weight: 700;
    color: #99B749;
}

.page {
    transition: all .3s ease;
}

.page.loaded {

}

.container-main {
    padding-bottom: 6em;
}

.error-message {
    color: indianred;
    margin-top: 1em;
}

.category-image {
    float: none;
}

.permissions-block {
    width: 60%;
}

@media screen and (min-width:1200px) {
    .category-image {
        float: left;
    }
}

@media screen and (min-width: 1400px) {
    .sebm-google-map-container {
        height: 39vh;
    }
}

@media screen and (max-width: 435px) {
    .navigation {
        padding: 0;
        width: 100%;
        margin-bottom: 1rem;
    }

    .permissions-block {
        width: initial;
        padding: 0 1rem;
        font-size: .9rem;
    }

    .navigation__tab {
        border-radius: 0;
    }

    .modal-window {
        top: 0;
        border-radius: 0;
    }

    .location-preview__img {
        border-radius: 0;
    }

    .location-preview {
        height: 30vh;
    }

    .location-preview img {
        height: 100%;
    }

    .categories-preview__navigation-tab {
        font-size: .85rem;
        width: 25%;
        display: inline-block;
    }

    .categories-preview__navigation-tab__text {
        padding: 0;
    }

    .categories-preview__navigation-tab__text:before {
       display: none;
    }

    .categories__item {
        width: 100%;
    }

    .boxes-aside {
        width: 100%;
    }

    .boxes-main {
        width: initial;
    }

    .boxes-main__list__item div:first-child {
        float: none;
    }

    .boxes-main__list__item div:first-child img {
        display: block;
        margin: 0 auto;
        width: 60%;
    }

    .boxes-main__list__item div.overflow-hidden {
        padding: 1rem;
    }

    .box-id {
        display: none;
    }

    .modal-open {
        max-height: 485px;
        overflow-x: auto;
        width: initial;
        /*padding: 0.5rem;*/
    }

}

