---
layout: content
permalink: /lagerraume/
title: Dein flexibler Lagerraum.
excerpt: "Sauber, Sicher, trocken, flexibel, videoüberwacht und alarmgesichert: der placeB Lagerraum."
---

<div class="box-bg-section box-hero-bg-section hero-container">
    <div class="section">
        <div class="transparent-bg">

        </div>
    </div>
</div>

<div class="content-wrapper small">

    <div class="section section-low-padding">
        <div class="content is-center">
            <h1>{{page.title}}</h1>

            <p>Kein Platz in der Wohnung, Keller zu klein, Büro überquillt: placeB ist deine flexible Lösung für mehr
                Platz im Leben.</p>

            <div class="pure-g padding-top">
                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 box-fact">

                    <div><i class="fa fa-clock-o"></i></div>

                    <h2>Zugriff 24/7</h2>

                    <p>
                        Du hast jederzeit Zugang zu deinen Sachen.<br>
                        Rund um die Uhr. Immer.
                    </p>
                </div>

                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 box-fact">

                    <div><i class="fa fa-lock"></i></div>

                    <h2>Schlüsselloser Zugang</h2>

                    <p>Du öffnest alle Türen mit der gratis placeB App auf deinem Smartphone. Cool, sicher und super
                        einfach.</p>

                </div>

                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 box-fact">
                    <div><i class="fa fa-video-camera"></i></div>

                    <h2>Videoüberwacht und alarmgesichert</h2>

                    <p>
                        Alle unsere Standorte sind videoüberwacht und jede Box ist individuell alarmgesichert. Sicher
                        ist sicher.
                    </p>

                </div>

                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 box-fact">

                    <div><i class="fa fa-calendar-o"></i></div>

                    <h2>Schon ab einer Woche</h2>

                    <p>Deine Sachen machen bei uns Kurzferien – oder sie wohnen fix bei uns. Ganz wie du willst.</p>
                </div>

                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 box-fact">
                    <div><i class="fa fa-credit-card"></i></div>

                    <h2>Einfache Bezahlung</h2>

                    <p>
                        Bezahlen kannst du ganz bequem und schnell online mit der Kreditkarte.
                    </p>
                </div>

                <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3 box-fact">
                    <div><i class="fa fa-sun-o"></i></div>

                    <h2>Sauber, trocken und geheizt</h2>

                    <p>
                        Es herrscht ein gutes Klima bei placeB. Darauf kannst du dich verlassen.
                    </p>

                </div>

            </div>

        </div>

    </div>

    {% include perfect-size.html %}

    {% include footer.html %}

</div>