---
layout: content
permalink: /lagerraume/
title: Dein perfekter Lagerraum
---

<div class="box-bg-section box-hero-bg-section hero-container">
    <div class="section">
        <div class="transparent-bg">

        </div>
    </div>
</div>

<div class="content-wrapper small">

    <div class="section section-low-padding">
        <div class="content is-center">
            <h1>Dein perfekter Lagerraum</h1>

            <p>Wenn dein Keller zu klein wird oder dein Büro überquillt, hast du bei uns Platz</p>

            <div class="pure-g padding-top">
                <div class="l-box pure-u-1 pure-u-md-1-2 box-fact">

                    <div><i class="fa fa-clock-o"></i></div>

                    <h2>Zugriff 24/7</h2>

                    <p>Du hast jederzeit Zugriff, rund um die Uhr und an jedem Tag</p>
                </div>

                <div class="l-box pure-u-1 pure-u-md-1-2 box-fact">

                    <div><i class="fa fa-lock"></i></div>

                    <h2>Schlüsselloser Zugang</h2>

                    <p>Schlüsselloser Zugang per App.</p>

                </div>
            </div>

            <div class="pure-g padding-top">
                <div class="l-box pure-u-1 pure-u-md-1-2 box-fact">

                    <div><i class="fa fa-calendar-o"></i></div>

                    <h2>Schon ab einer Woche</h2>

                    <p>Du kannst ein Lagerdauer zwischen einer Woche bis zu
                        mehreren Jahren wählen.</p>
                </div>

                <div class="l-box pure-u-1 pure-u-md-1-2 box-fact">
                    <div><i class="fa fa-credit-card"></i></div>

                    <h2>Einfach bezahlen</h2>

                    <p>
                        Bezahlen kannst du bequem mit der Kreditkarte.
                    </p>
                </div>
            </div>


            <div class="pure-g padding-top">
                <div class="l-box pure-u-1 pure-u-md-1-2 box-fact">
                    <div><i class="fa fa-sun-o"></i></div>

                    <h2>Trocken & geheizt</h2>

                    <p>
                        Deine placeBox befindet sich in einem trockenen, geheizten Raum.
                    </p>

                </div>

                <div class="l-box pure-u-1 pure-u-md-1-2 box-fact">
                    <div><i class="fa fa-video-camera"></i></div>

                    <h2>Videoüberwachung & Alarmanlage</h2>

                    <p>
                        Jeder Lagerraum verfügt über eine Einbruchssicherung.
                    </p>

                </div>
            </div>

        </div>

    </div>

    {% include perfect-size.html %}

    {% include footer.html %}

</div>