---
layout: hero
---

<div class="content section is-center hiw" id="wie-es-funktioniert">
    <h2 class="content-head">So funktioniert's.</h2>

    <p>Bei <span itemprop="name">placeB</span> steuerst du alles mit deinem Smartphone.<br>
        Sogar Türen öffnen und Lagerbox buchen!</p>

    <div class="pure-g padding-top">
        <div class="l-box pure-u-1 pure-u-md-1-5">
            <a href="#" class="download-app">
                {% img "hiw-download.png" alt:"Lade die placeB App herunter" class:"hiw-image" %}
                <p class="content-subhead">
                    placeB App downloaden und registrieren
                </p>
            </a>
        </div>

        <div class="l-box pure-u-1 pure-u-md-1-5">
            {% img "arrow-right.png" alt:"next" class:"hide-small hiw-image-arrow" %}
        </div>

        <div class="l-box pure-u-1 pure-u-md-1-5">
            {% img "hiw-choose.png" alt:"Wähle einen Standort" class:"hiw-image hiw-image-margin" %}
            <p class="content-subhead">
                Standort und Box wählen
            </p>

        </div>

        <div class="l-box pure-u-1 pure-u-md-1-5">
            {% img "arrow-right.png" alt:"next" class:"hide-small hiw-image-arrow " %}
        </div>

        <div class="l-box pure-u-1 pure-u-md-1-5">
            {% img "hiw-use.png" alt:"Sofort einlagern" class:"hiw-image hiw-image-margin hiw-image-use" %}
            <p class="content-subhead">
                Sofort einlagern
            </p>
        </div>
    </div>
</div>

<div class="grey-section section" id="richtige-groesse">

    <div class="content is-center" itemscope itemtype="http://schema.org/Product">
        <h2 class="content-head">Die richtige Grösse finden.</h2>

        <meta itemprop="name" content="Lagerplätze"/>
        <meta itemprop="name" content="Kleiner Lagerplatz"/>

        <p>
            <span itemprop="description">Weil es kleine und grosse Platzprobleme gibt, gibt es auch kleine und grosse Lagerräume von 1 bis 30m³.</span>
            <br>
            Zum Beispiel:
        </p>
        {% include boxes.html %}
        <div class="pure-g padding-top">
            <div class="l-box pure-u-1 pure-u-md-1-4 box-size box-border" itemscope itemtype="http://schema.org/Offer">

                <div class="flip-container" id="s-flipper">
                    <div class="flipper">
                        <div class="front">
                            {% img "boxes/1_duschkabine.jpg" alt:"kleine box" class:"box-image" itemprop:"image"
                            id:"s-fr-img" %}
                            <p id="s-fr-name">1/2-Duschkabine</p>
                            <meta itemprop="name" content="Kleiner Lagerplatz"/>

                            <p id="s-fr-price" class="dark">ab CHF 39.-/Monat</p>
                            <meta itemprop="price" content="39.00"/>
                            <meta itemprop="priceCurrency" content="CHF"/>
                        </div>
                        <div class="back">
                            <img id="s-bg-img" class="box-image">

                            <p id="s-bg-name"></p>

                            <p class="dark" id="s-bg-price"></p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="l-box pure-u-1 pure-u-md-1-4 box-size box-border" itemscope itemtype="http://schema.org/Offer">

                <div class="flip-container" id="m-flipper">
                    <div class="flipper">
                        <div class="front">
                            {% img "boxes/6_gaste_wc.jpg" alt:"mittlere box" class:"box-image" itemprop:"image"
                            id:"m-fr-img" %}
                            <p id="m-fr-name">Gäste WC</p>
                            <meta itemprop="name" content="Mittlerer Lagerplatz"/>

                            <p id="m-fr-price" class="dark">ab CHF 115.-/Monat</p>
                            <meta itemprop="price" content="115.00"/>
                            <meta itemprop="priceCurrency" content="CHF"/>
                        </div>
                        <div class="back">
                            <img id="m-bg-img" class="box-image">

                            <p id="m-bg-name"></p>

                            <p class="dark" id="m-bg-price"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="l-box pure-u-1 pure-u-md-1-4 box-size box-border" itemscope itemtype="http://schema.org/Offer">

                <div class="flip-container" id="l-flipper">
                    <div class="flipper">
                        <div class="front">
                            {% img "boxes/15_transporter.jpg" alt:"grosse box" class:"box-image" itemprop:"image"
                            id:"l-fr-img" %}
                            <p id="l-fr-name">Transporter</p>
                            <meta itemprop="name" content="Grosser Lagerplatz"/>

                            <p id="l-fr-price" class="dark">ab CHF 188.-/Monat</p>
                            <meta itemprop="price" content="188.00"/>
                            <meta itemprop="priceCurrency" content="CHF"/>
                        </div>
                        <div class="back">
                            <img id="l-bg-img" class="box-image">

                            <p id="l-bg-name"></p>

                            <p class="dark" id="l-bg-price"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="l-box pure-u-1 pure-u-md-1-4 box-size box-border" itemscope itemtype="http://schema.org/Offer">

                <div class="flip-container" id="xl-flipper">
                    <div class="flipper">
                        <div class="front">
                            {% img "boxes/30_wohnzimmer.jpg" alt:"grosse box" class:"box-image" itemprop:"image"
                            id:"xl-fr-img" %}
                            <p id="xl-fr-name">Wohnzimmer</p>
                            <meta itemprop="name" content="Riesiger Lagerplatz"/>

                            <p id="xl-fr-price" class="dark">ab CHF 377.-/Monat</p>
                            <meta itemprop="price" content="377.00"/>
                            <meta itemprop="priceCurrency" content="CHF"/>
                        </div>
                        <div class="back">
                            <img id="xl-bg-img" class="box-image">

                            <p id="xl-bg-name"></p>

                            <p class="dark" id="xl-bg-price"></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="pure-g padding-top is-left">
            <div class="l-box pure-u-1 pure-u-md-1-2">
                <div class="max-80">
                    Alle Grössen, Standorte und Laufzeiten findest du in unserer App:
                </div>
                <ul class="none-list">
                    <li>
                        <a href="https://itunes.apple.com/us/app/placeb/id1073601192" class="green open-ios"
                           data-location="find-box"
                           id="store-ios-find-box"
                           target="_blank">
                            <i class="fa fa-apple"></i> placeB iOS App installieren</a>
                    </li>
                    <li>
                        <a href="https://play.google.com/store/apps/details?id=com.kg.placeb" class="green open-android"
                           id="store-android-find-box" target="_blank">
                            <i class="fa fa-android"></i> placeB Android App installieren</a>
                    </li>
                </ul>
            </div>

            <div class="l-box pure-u-1 pure-u-md-1-2">
                Unsicher, welcher Lagerraum der richtige ist für dich?<br>
                Wir beraten wir dich gerne!
                <ul class="none-list">
                    <li>
                        <a href="#" class="open-chat green"
                           id="chat-find-box">
                            <i class="fa fa-comment"></i>
                            Live Chat</a>
                    </li>
                    <li>
                        <a href="tel:+41442739191" class="green call-phone" id="phone-find-box">
                            <i class="fa fa-phone"></i> +41 44 273 91 91
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div itemprop="aggregateRating"
     itemscope itemtype="http://schema.org/AggregateRating">
    <meta itemprop="ratingValue" content="4.5"/>
    <meta itemprop="reviewCount" content="6"/>
</div>

<div class="content inner-section" id="kunden">
    <h2 class="content-head is-center">Zufriedene Kunden.</h2>

    <div class="is-center padding-top testimonials">
        <div itemprop="review" itemscope itemtype="http://schema.org/Review">
            <div class="avatar-frame">
                {% img "testimonials/max-m.jpg" alt:"Max M." itemprop:"image" %}
            </div>

            <p class="testimonial" itemprop="reviewBody">
                "Die Leute von placeB haben mir sogar vor Ort die verschiedenen Lagerräume gezeigt,
                und ich konnte die für mich ideale Grösse auswählen."
            </p>

            <p class="testimonial-author" itemprop="author">Max M., Zürich</p>

            <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                <meta itemprop="worstRating" content="1"/>
                <meta itemprop="ratingValue" content="4"/>
                <meta itemprop="bestRating" content="5"/>
            </div>

        </div>
        <div itemprop="review" itemscope itemtype="http://schema.org/Review">
            <div class="avatar-frame">
                {% img "testimonials/monika-g.jpg" alt:"Monika G." itemprop:"image" %}
            </div>

            <p class="testimonial" itemprop="reviewBody">
                "Schnell und unkompliziert habe ich bei placeB einen Lagerraum für ein altes Möbelstück gefunden,
                das mir am Herzen liegt, bei uns aber keinen Platz mehr hat."
            </p>

            <p class="testimonial-author" itemprop="author">Monika G., Sempach</p>

            <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                <meta itemprop="worstRating" content="1"/>
                <meta itemprop="ratingValue" content="5"/>
                <meta itemprop="bestRating" content="5"/>
            </div>

        </div>

        <div itemprop="review" itemscope itemtype="http://schema.org/Review">
            <div class="avatar-frame">
                {% img "testimonials/josef-arnold.jpg" alt:"Josef Arnold" itemprop:"image" %}
            </div>

            <p class="testimonial" itemprop="reviewBody">
                "Wir haben unser Verpackungsmaterial bei placeB zwischengelagert.
                Mich hat die Einfachheit und der schlüssellose Zugang über die App auf dem Mobiltelefon überzeugt."
            </p>

            <p class="testimonial-author" itemprop="author">Josef Arnold, CEO und Mitinhaber Dumet AG</p>

            <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                <meta itemprop="worstRating" content="1"/>
                <meta itemprop="ratingValue" content="5"/>
                <meta itemprop="bestRating" content="5"/>
            </div>
        </div>

        <div itemprop="review" itemscope itemtype="http://schema.org/Review" class="hide-small">
            <div class="avatar-frame">
                {% img "testimonials/ferdinand-metzler.jpg" alt:"Ferdinand Metzler" itemprop:"image" %}
            </div>

            <p class="testimonial" itemprop="reviewBody">
                "Wir konnten unseren Bürodschungel entrümpeln und haben nun eine flexible Lagerlösung
                für Archiv und überzählige Prospekte in unmittelbarer Nähe unserer Büros."
            </p>

            <p class="testimonial-author" itemprop="author">Ferdinand Metzler, CEO & Co-Founder Fision AG
            </p>

            <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                <meta itemprop="worstRating" content="1"/>
                <meta itemprop="ratingValue" content="4"/>
                <meta itemprop="bestRating" content="5"/>
            </div>
        </div>

        <div itemprop="review" itemscope itemtype="http://schema.org/Review" class="hide-small">
            <div class="avatar-frame">
                {% img "testimonials/luke-sigel.jpg" alt:"Josef Arnold" itemprop:"image" %}
            </div>

            <p class="testimonial" itemprop="reviewBody">
                "Wir lagern unser Eventmaterial bei placeB. Da wir ein kleines Budget haben sind wir auf
                eine massgeschneiderte Lösung angewiesen. placeB bietet uns dies auf Woche und Kubikmeter genau"
            </p>

            <p class="testimonial-author" itemprop="author">Luke Sigel, Kulturförderverein bäm.ch</p>

            <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                <meta itemprop="worstRating" content="1"/>
                <meta itemprop="ratingValue" content="4"/>
                <meta itemprop="bestRating" content="5"/>
            </div>
        </div>

        <div itemprop="review" itemscope itemtype="http://schema.org/Review" class="hide-small">
            <div class="avatar-frame">
                {% img "testimonials/louis-portal.jpg" alt:"Josef Arnold" itemprop:"image" %}
            </div>

            <p class="testimonial" itemprop="reviewBody">
                "Für meinen Job bin ich aus Bordeaux nach Zürich gezogen.
                Nun wohne ich in einer WG und ein Teil meiner Möbel wohnen bei placeB."
            </p>

            <p class="testimonial-author" itemprop="author">Louis Portal aus Frankreich</p>

            <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                <meta itemprop="worstRating" content="1"/>
                <meta itemprop="ratingValue" content="5"/>
                <meta itemprop="bestRating" content="5"/>
            </div>
        </div>

    </div>
</div>

<div class="box-bg-section section" id="mobile-app">

    <div class="content  transparent-bg">

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 screenshots-container">

                <h2 class="content-head">Die placeB App ist dein Schlüssel zu mehr Platz.</h2>

                <div>
                    {% include stores.html location="mobile-app" %}
                </div>

            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2">
                <ul>
                    <li>So lange du willst, schon ab einer Woche</li>
                    <li>Schlüsselloser Zugang per App rund um die Uhr (24/7)</li>
                    <li>Trockene und geheizte Lagerräume an zentraler Lage</li>
                    <li>Alarmgesichert und videoüberwacht</li>
                    <li>Familie, (Arbeits-)Kollegen etc. können deine placeBox nutzen.
                        Du entscheidest per App, wer wann und wie lange Zugriff hat
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
