---
layout: content
permalink: /standorte/
title: Lagerräume in Zürich
---

<div class="hero-container">
    <div id="map"></div>
</div>

<div class="content-wrapper small">

    <div class="content section section-low-padding">
        <h1 class="is-center">Unsere Standorte für deinen Platz</h1>

        <p class="is-center">Lagerräume von placeB schaffen dir mehr Platz für dein Leben. Jetzt schon drei mal mitten
            in Zürich.</p>

        <h2 id="hohlstr">Hohlstrasse 192</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-2-5">
                {% img "locations/hohlstrasse.jpg" alt:"Hohlstrasse 192" %}
            </div>

            <div class="l-box pure-u-1 pure-u-md-3-5">
                <p class="padding-left">
                    Dieser Standort liegt in der Hard (Kreis 4) unweit der Hardbrücke. Den Eingang, einen Umschlagplatz
                    und einen grossen Warenlift findest du auf der Rückseite des Gebäudes. Auch den Warenlift steuerst
                    du natürlich bequem mit der placeB App auf deinem Smartphone. Die placeB Boxen befinden sich im 1.
                    UG. Hier bieten wir Boxen ab 1m3 bis zu über 30m3.<br>
                    <a target="_blank"
                       href="https://www.google.ch/maps/place/Hohlstrasse+192,+8004+Z%C3%BCrich/@47.3816207,8.5152766,17z/data=!3m1!4b1!4m2!3m1!1s0x47900a3c4cbcf3b1:0x83dcb173f013fb6f?hl=en"
                       class="green"><i class="fa fa-location-arrow"></i> Zum Standort navigieren</a>
                </p>
            </div>
        </div>
    </div>

    <div class="grey-section section section-low-padding">
        <div class="content">
            <h2 id="baslerstr">Baslerstrasse 30 (Mediacampus)</h2>

            <div class="pure-g">

                <div class="l-box pure-u-1 pure-u-md-3-5">
                    <p>
                        Dieser Standort liegt zwischen Letzipark und Letzigrund Stadion, nahe der Bushaltestelle “SBB
                        Werkstätte” der Linie 31. Für die Eingabe auf dem Navigationsgerät “Freihofstrasse 6” verwenden
                        (führt näher zum Eingang). Dieser Standort verfügt über einen Umschlagplatz sowie einen
                        Warenlift. Die placeB Boxen befinden sich im 1. UG.<br>
                        <a target="_blank"
                           href="https://www.google.ch/maps/place/Baslerstrasse+30,+8048+Z%C3%BCrich/@47.3849885,8.5003389,17z/data=!3m1!4b1!4m2!3m1!1s0x47900a34101119f7:0x540637039e6d2163?hl=en"
                           class="green"><i class="fa fa-location-arrow"></i> Zum Standort navigieren</a>
                    </p>
                </div>

                <div class="l-box pure-u-1 pure-u-md-2-5">
                    {% img "locations/baslerstrasse.jpg" alt:"Basler Strasse 30" class="padding-left" %}
                </div>

            </div>
        </div>
    </div>

    <div class="content section section-low-padding">
        <h2 id="hardturmstr">Hardturmstrasse 175</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-2-5">
                {% img "locations/hardturmstrasse.jpg" alt:"Hardturmstrasse 175" %}
            </div>

            <div class="l-box pure-u-1 pure-u-md-3-5">
                <p class="padding-left">
                    Das Gebäude liegt direkt an der Hardturmstrasse, der Eingang ist etwas zurückversetzt an der rechten
                    Gebäudeseite zu finden, zusammen mit einem Umschlagplatz. Die placeB Boxen im 3. UG sind mit einem
                    Warenlift zugänglich.<br>
                    <a target="_blank"
                       href="https://www.google.ch/maps/place/Hardturmstrasse+175,+8005+Z%C3%BCrich/@47.3927275,8.5087459,17z/data=!3m1!4b1!4m2!3m1!1s0x47900a48bb397a99:0x2b287745d5767b46?hl=en"
                       class="green"><i class="fa fa-location-arrow"></i> Zum Standort navigieren</a>
                </p>
            </div>
        </div>
    </div>

    {% include app.html %}
    {% include footer.html %}

</div>

{% javascript locations %}

<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>