{% extends "::base-email.html.twig" %}

{% block body %}

    <p>Hallo</p>

    <p>Du hast Zugang zu einer placeBox bekommen.</p>
    {% if sharing.user %}
        Die Box ist bereits in der placeB App verfügbar. Bitte melde dich mit folgendem E-Mail-Adresse an: {{ sharing.email }}
    {% else %}
        Zuerst musst du die <a href="https://www.placeb.ch">placeB
        App</a> herunterladen und dich mit folgender E-Mail-Adresse {{ sharing.email }} registrieren.
    {% endif %}
    <p>Bei Fragen kannst du dich jederzeit über <a href="mailto:info@placeb.ch">info@placeb.ch</a> melden.</p>

    <p>
        Voluminöse Grüsse<br>
        Dein placeB Team
    </p>

{% endblock %}