{% extends "::base-email.html.twig" %}

{% block body %}

    <p>Hello</p>

    <p>Der Zugang zu Box #{{ sharing.reservation.box.boxId }} wurde aufgehoben</p>

    <p>
        In case of questions you can contact us any time at <a href="mailto:info@placeb.ch">info@placeb.ch</a>.
    </p>

    <p>
        Voluminous regards<br>
        Your placeB team
    </p>

{% endblock %}