<script>
    var s_boxes = [
        {
            "name": "1/2 Duschkabine",
            "price": "ab CHF 39.-/Monat",
            "img": "{% asset_path 'boxes/1_duschkabine.jpg' %}"
        },
        {
            "name": "Telefonkabine",
            "price": "ab CHF 75.-/Monat",
            "img": "{% asset_path 'boxes/3_telekabine.jpg' %}"
        }
    ];

    var m_boxes = [

        {
            "name": "Gäste WC",
            "price": "ab CHF 115.-/Monat",
            "img": "{% asset_path 'boxes/6_gaste_wc.jpg' %}"
        },
        {
            "name": "Kleinbus",
            "price": "ab CHF 151.-/Monat",
            "img": "{% asset_path 'boxes/9_kleinbus.jpg' %}"
        },
        {
            "name": "Kleiner Keller",
            "price": "ab CHF 161.-/Monat",
            "img": "{% asset_path 'boxes/12_kleiner_keller.jpg' %}"
        }
    ];

    var l_boxes = [
        {
            "name": "Transporter",
            "price": "ab CHF 188.-/Monat",
            "img": "{% asset_path 'boxes/15_transporter.jpg' %}"
        },
        {
            "name": "Einzelgarage",
            "price": "ab CHF 225.-/Monat",
            "img": "{% asset_path 'boxes/18_einzelgarage.jpg' %}"
        },
        {
            "name": "Kinderzimmer",
            "price": "ab CHF 245.-/Monat",
            "img": "{% asset_path 'boxes/22_kinderzimmer.jpg' %}"
        }
    ];

    var xl_boxes = [
        {
            "name": "Wohnzimmer",
            "price": "ab CHF 377.-/Monat",
            "img": "{% asset_path 'boxes/30_wohnzimmer.jpg' %}"
        },
        {
            "name": "Elternschlafzimmer",
            "price": "ab CHF 305.-/Monat",
            "img": "{% asset_path 'boxes/26_elternschlafzimmer.jpg' %}"
        },
        {
            "name": "Doppelbüro",
            "price": "ab CHF 280.-/Monat",
            "img": "{% asset_path 'boxes/23_doppelburo.jpg' %}"
        }
    ];
</script>