<script>
    var s_boxes = [
        {
            "name": "Typ: S1",
            "price": "ab CHF 39.-/Monat",
            "img": "{% asset_path 'boxes/1_duschkabine.jpg' %}"
        },
        {
            "name": "Typ: S3",
            "price": "ab CHF 75.-/Monat",
            "img": "{% asset_path 'boxes/3_telekabine.jpg' %}"
        }
    ];

    var m_boxes = [

        {
            "name": "Typ: S6",
            "price": "ab CHF 115.-/Monat",
            "img": "{% asset_path 'boxes/6_gaste_wc.jpg' %}"
        },
        {
            "name": "Typ: S9",
            "price": "ab CHF 151.-/Monat",
            "img": "{% asset_path 'boxes/9_kleinbus.jpg' %}"
        },
        {
            "name": "Typ: M12",
            "price": "ab CHF 161.-/Monat",
            "img": "{% asset_path 'boxes/12_kleiner_keller.jpg' %}"
        }
    ];

    var l_boxes = [
        {
            "name": "Typ: M15",
            "price": "ab CHF 188.-/Monat",
            "img": "{% asset_path 'boxes/15_transporter.jpg' %}"
        },
        {
            "name": "Typ: M18",
            "price": "ab CHF 225.-/Monat",
            "img": "{% asset_path 'boxes/18_einzelgarage.jpg' %}"
        },
        {
            "name": "Typ: L22",
            "price": "ab CHF 245.-/Monat",
            "img": "{% asset_path 'boxes/22_kinderzimmer.jpg' %}"
        }
    ];

    var xl_boxes = [
        {
            "name": "Typ: L30",
            "price": "ab CHF 377.-/Monat",
            "img": "{% asset_path 'boxes/30_wohnzimmer.jpg' %}"
        },
        {
            "name": "Typ: L26",
            "price": "ab CHF 305.-/Monat",
            "img": "{% asset_path 'boxes/26_elternschlafzimmer.jpg' %}"
        },
        {
            "name": "Typ: L23",
            "price": "ab CHF 280.-/Monat",
            "img": "{% asset_path 'boxes/23_doppelburo.jpg' %}"
        }
    ];
</script>