<footer itemscope itemtype="http://schema.org/Corporation">

    <div class="green-section section">
        <div class="content">
            Wir sind da, um zu helfen:
            <div class="pure-g padding-top is-left">
                <div class="l-box pure-u-1 pure-u-md-1-3">

                    <ul class="none-list">
                        <li>
                            <a href="#" class="open-chat white-link" data-location="footer"> <i
                                    class="fa fa-comment"></i> Live Chat</a>
                        </li>
                        <li>
                            <a class="white-link open-mail" href="mailto:info@placeb.ch" data-location="footer">
                                <i class="fa fa-envelope"></i>
                                <span itemprop="email">info@placeb.ch</span>
                            </a>
                        </li>
                        <li>
                            <a class="white-link call-phone" href="tel:+41442739191" data-location="footer">
                                <i class="fa fa-phone"></i>
                                <span itemprop="telephone" content="+41442739191">+41 44 273 91 91</span>
                            </a>
                        </li>
                        <li>
                            <a class="white-link" href="/faq/">
                                <i class="fa fa-question-circle"></i> Häufig gestellte Fragen</a>
                        </li>
                    </ul>
                </div>


                <div class="l-box pure-u-1 pure-u-md-1-3">
                    <ul class="none-list">
                        <li>
                            <a href="/standorte/" class="white-link open-ios"
                               data-location="footer">
                                <i class="fa fa-map-marker"></i> Standorte</a>
                        </li>
                        <li>
                            <a href="/lagerraume/"
                               class="white-link open-android" data-location="footer">
                                <i class="fa fa-th"></i> Lagerräume</a>
                        </li>
                        <li>
                            <a class="white-link" href="/in-60-sekunden/">
                                <i class="fa fa-clock-o"></i> In 60 Sekunden</a>
                        </li>
                        <li>
                            <a class="white-link" href="/news/">
                                <i class="fa fa-newspaper-o"></i> News</a>
                        </li>
                    </ul>
                </div>

                <div class="l-box pure-u-1 pure-u-md-1-3">
                    <ul class="none-list">
                        <li>
                            <a href="https://itunes.apple.com/us/app/placeb/id1073601192" class="white-link open-ios"
                               data-location="footer" target="_blank">
                                <i class="fa fa-apple"></i> placeB iOS App installieren</a>
                        </li>
                        <li>
                            <a href="https://play.google.com/store/apps/details?id=com.kg.placeb"
                               class="white-link open-android" data-location="footer" target="_blank">
                                <i class="fa fa-android"></i> placeB Android App installieren</a>
                        </li>
                        <li>
                            <a href="http://www.facebook.com/placeb.place" class="white-link open-facebook" data-location="footer"
                               target="_blank">
                                <i class="fa fa-facebook-official"></i> placeB auf Facebook</a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>
    <div class="dark-grey-section section is-center">

        <a href="/impressum">Impressum</a> •
        <a href="/tc-de.pdf">AGB</a> •
        <a href="/privacy-policy-de.pdf">Datenschutz</a> •
        © 2016, <span itemprop="name">placeB AG</span>
    </div>

</footer>