<header class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <div class="content">
            <a href="/" class="logo-item">
                {% img "placeb-logo.png" alt:"placeB logo" class:"logo" %}
            </a>

            <ul class="pure-menu-list">
                <!--
                <li class="pure-menu-item">
                    <a href="https://app.placeb.ch" class="pure-menu-link" data-location="header">
                        <i class="fa fa-shopping-cart"></i>
                        <span> Auswählen und buchen</span>
                    </a>
                </li>
                --->
                <li class="pure-menu-item">
                    <a class="white-link call-phone" href="tel:+41442739191" data-location="header">
                        <i class="fa fa-phone"></i>
                        <span itemprop="telephone" content="+41442739191">+41 44 273 91 91</span>
                    </a>
                </li>

                <li class="pure-menu-item">
                    <a href="#" class="open-chat pure-menu-link" data-location="header">
                        <i class="fa fa-comment"></i>
                        <span> Live Chat</span>

                    </a>
                </li>
            </ul>
        </div>

    </div>
</header>