<header class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <div class="content">
            <a href="/">
                {% img "placeb-logo.png" alt:"placeB logo" class:"logo" %}
            </a>

            <ul class="pure-menu-list">
                <li class="pure-menu-item">
                    <a href="tel:+41442739191" class="pure-menu-link">
                        <i class="fa fa-phone"></i> +41 44 273 91 91
                    </a>
                </li>
                <li class="pure-menu-item">
                    <a href="#" class="open-chat pure-menu-link">
                        <i class="fa fa-comment"></i>
                        Live Chat
                    </a>
                </li>
            </ul>
        </div>

    </div>
</header>