<div class="grey-section section section-low-padding track-click" id="richtige-groesse" data-id="richtige-groesse">
    <div class="content is-center" itemscope itemtype="http://schema.org/Product">
        <h2 class="content-head">Die richtige Grösse finden.</h2>

        <meta itemprop="name" content="Lagerplätze"/>
        <meta itemprop="name" content="Kleiner Lagerplatz"/>

        <p>
            <span itemprop="description">Weil es kleine und grosse Platzprobleme gibt, gibt es auch kleine und grosse Lagerräume von 1 bis 30m³.</span>
            <br>
            Zum Beispiel:
        </p>
        {% include boxes.html %}

        <a href="{% if site.link_webapp %}/app/{% else %}/pricing/{% endif %}">
            <div class="pure-g padding-top">
                <div class="l-box pure-u-1 pure-u-sm-1-2 pure-u-lg-1-4 box-size box-border" itemscope
                     itemtype="http://schema.org/Offer">

                    <div class="flip-container" id="s-flipper">
                        <div class="flipper">
                            <div class="front">
                                {% img "boxes/1_duschkabine.jpg" alt:"kleine box" class:"box-image" itemprop:"image"
                                id:"s-fr-img" %}
                                <p id="s-fr-name">Typ: S1</p>
                                <meta itemprop="name" content="Kleiner Lagerplatz"/>

                                <p id="s-fr-price" class="dark">ab CHF 39.-/Monat</p>
                                <meta itemprop="price" content="39.00"/>
                                <meta itemprop="priceCurrency" content="CHF"/>
                            </div>
                            <div class="back">
                                <img id="s-bg-img" class="box-image">

                                <p id="s-bg-name"></p>

                                <p class="dark" id="s-bg-price"></p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="l-box pure-u-1 pure-u-sm-1-2 pure-u-lg-1-4 box-size box-border" itemscope
                     itemtype="http://schema.org/Offer">

                    <div class="flip-container" id="m-flipper">
                        <div class="flipper">
                            <div class="front">
                                {% img "boxes/6_gaste_wc.jpg" alt:"mittlere box" class:"box-image" itemprop:"image"
                                id:"m-fr-img" %}
                                <p id="m-fr-name">Typ: S6</p>
                                <meta itemprop="name" content="Mittlerer Lagerplatz"/>

                                <p id="m-fr-price" class="dark">ab CHF 110.5.-/Monat</p>
                                <meta itemprop="price" content="110.50"/>
                                <meta itemprop="priceCurrency" content="CHF"/>
                            </div>
                            <div class="back">
                                <img id="m-bg-img" class="box-image">

                                <p id="m-bg-name"></p>

                                <p class="dark" id="m-bg-price"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="l-box pure-u-1 pure-u-sm-1-2 pure-u-lg-1-4 box-size box-border" itemscope
                     itemtype="http://schema.org/Offer">

                    <div class="flip-container" id="l-flipper">
                        <div class="flipper">
                            <div class="front">
                                {% img "boxes/15_transporter.jpg" alt:"grosse box" class:"box-image"
                                itemprop:"image"
                                id:"l-fr-img" %}
                                <p id="l-fr-name">Typ: M15</p>
                                <meta itemprop="name" content="Grosser Lagerplatz"/>

                                <p id="l-fr-price" class="dark">ab CHF 194.-/Monat</p>
                                <meta itemprop="price" content="194"/>
                                <meta itemprop="priceCurrency" content="CHF"/>
                            </div>
                            <div class="back">
                                <img id="l-bg-img" class="box-image">

                                <p id="l-bg-name"></p>

                                <p class="dark" id="l-bg-price"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="l-box pure-u-1 pure-u-sm-1-2 pure-u-lg-1-4 box-size box-border" itemscope
                     itemtype="http://schema.org/Offer">

                    <div class="flip-container" id="xl-flipper">
                        <div class="flipper">
                            <div class="front">
                                {% img "boxes/30_wohnzimmer.jpg" alt:"grosse box" class:"box-image" itemprop:"image"
                                id:"xl-fr-img" %}
                                <p id="xl-fr-name">Typ: L30</p>
                                <meta itemprop="name" content="Riesiger Lagerplatz"/>

                                <p id="xl-fr-price" class="dark">ab CHF 364.-/Monat</p>
                                <meta itemprop="price" content="364.00"/>
                                <meta itemprop="priceCurrency" content="CHF"/>
                            </div>
                            <div class="back">
                                <img id="xl-bg-img" class="box-image">

                                <p id="xl-bg-name"></p>

                                <p class="dark" id="xl-bg-price"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <div class="pure-g padding-top is-left">
            <div class="l-box pure-u-1 pure-u-md-1-2">
                <div class="max-80">
                    Alle Grössen, Standorte und Laufzeiten findest du in unserer App:
                </div>
                <div class="padding-top-xs">
                    {% include stores.html location="perfect-size" %}
                </div>
            </div>

            <div class="l-box pure-u-1 pure-u-md-1-2">
                Unsicher, welcher Lagerraum der richtige ist für dich?<br>
                Wir beraten wir dich gerne!
                <ul class="none-list">
                    <li>
                        <a href="#" class="open-chat green" data-location="find-box"> <i
                                class="fa fa-comment"></i>
                            Live Chat</a>
                    </li>
                    <li>
                        <a href="/offer/" class="green track-click"
                           data-location="hero" data-id="to-offer">
                            <i class="fa fa-envelope-o"></i> Offerte Anfordern</a>
                    </li>
                    <li>
                        <a href="tel:+41442739191" class="green call-phone" data-location="find-box">
                            <i class="fa fa-phone"></i> +41 44 273 91 91
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>