{% extends "::base-email.html.twig" %}

{% block body %}

<p>Hallo {{user.firstName}}</p>

<p>Willkommen bei placeB<p>

    Wir freuen uns, dass du dich bei placeB registriert hast!
    Bei Fragen kannst du dich jederzeit über <a href="mailto:info@placeb.ch">info@placeb.ch</a> melden.

<p>
    Voluminöse Grüsse<br>
    Dein placeB Team
</p>
{% endblock %}