{% extends "::base-email.html.twig" %}

{% block body %}

Hallo {{ user.firstName }}
<p>Du erhälst diese Mail weil du dein Passwort bei placeB zurücksetzen möchtest.</p>

<p>
    Bitte öffne folgende Seite, um ein neues Passwort einzugeben: <a
            href="{{ confirmationUrl }}">{{ confirmationUrl }}</a>
</p>

<p>
    Voluminöse Grüsse<br>
    Dein placeB Team
</p>
{% endblock %}