{% extends "::base-email.html.twig" %}

{% block body %}

    Hello {{ user.firstName }}
    <p>You are receiving this mail because you want to reset your password in placeB.</p>

    <p>
        Please open the following page in order to enter a new password. <a
                href="{{ confirmationUrl }}">{{ confirmationUrl }}</a>
    </p>

    <p>In case of questions you can contact us any time at <a href="mailto:info@placeb.ch">info@placeb.ch</a>.</p>

    <p>
        Voluminous regards<br>
        Your place B team
    </p>
{% endblock %}