{% extends "::base-email.html.twig" %}

{% block body %}
    <p>Hallo {{ reservation.user.firstName }}</p>

    <p>Deine Box ist ab sofort für dich verfügbar. Zum Öffnen deiner Box, aber auch für den Zutritt zum Gebäude
        verwendest
        du ganz einfach die placeB App.
    <p>
        Bei Fragen kannst du dich jederzeit über <a href="mailto:info@placeb.ch">info@placeb.ch</a> melden.</p>
    <p>
        Wir wünschen dir viel Spass mit mehr Platz für dein Leben!</p>
    <p>
        Voluminöse Grüsse<br>
        Dein placeB Team
    </p>
{% endblock %}