{% extends "::base-email.html.twig" %}

{% block body %}
    <p>Hello {{ reservation.user.firstName }}</p>

    <p>Your Box is immediately accessible. In order to open your box or for site access simply use placeB app.
    <p>
        In case of questions, please contact us at <a href="mailto:info@placeb.ch">info@placeb.ch</a> .</p>
    <p>
        We hope you enjoy more space in your life!</p>
    <p>
        Voluminous regards<br>
        Your placeB team
    </p>
{% endblock %}