{% extends "::base-email.html.twig" %}

{% block body %}
    <p>Hello {{ reservation.user.firstName }}</p>

    <p>Your booking {{ reservation.id }} with placeB is complete. with placeB is terminated.</p>
    <p>We are sorry to see you leave!
        Whenever you need more space for your life again, we will be happy to welcome you back at placeB.</p>
    <p>In case of questions, you can contact us any time at <a href="mailto:info@placeb.ch">info@placeb.ch</a>.</p>

    <p>
        Voluminous regards<br>
        Your placeB team
    </p>
{% endblock %}