{% extends "::base-email.html.twig" %}

{% block body %}
<p>Hello {{ reservation.user.firstName }}</p>

<p>Thank you for your reservation! We are glad to welcome you at placeB. </p>
<p>We will get in touch as soon as your box is accessible.</p>
    <p>
        In case of questions you can contact us any time at <a href="mailto:info@placeb.ch">info@placeb.ch</a>.
    </p>

    <p>
        Voluminous regards<br>
        Your placeB team
    </p>
{% endblock %}