{% extends "::base-email.html.twig" %}

{% block body %}
<p>Hallo {{ reservation.user.firstName }}</p>

<p>Vielen Dank für deine Buchung! Wir freuen uns, dich bei placeB begrüssen zu dürfen. </p>
<p>Sobald deine Box verfügbar ist, wirst du von uns benachrichtigt.</p>
<p>
    Bei Fragen, kannst du dich jederzeit über <a href="mailto:info@placeb.ch">info@placeb.ch</a> melden.</p>

<p>
    Voluminöse Grüsse<br>
    Dein placeB Team
</p>
{% endblock %}