{% extends "::base-email.html.twig" %}

{% block body %}
<p>Hello {{ reservation.user.firstName }}</p>

<p>Your reservation {{ reservation.id }} with placeB has been renewed. We are glad to furtherly have you with us and
    that you enjoy your box!</p>
<p>In case of questions, please contact us at <a href="mailto:info@placeb.ch">info@placeb.ch</a>.</p>

<p>
    Voluminous regards<br>
    Your placeB team
</p>
{% endblock %}