{# Admin email #}
{% extends "::base-email.html.twig" %}

{% block body %}
<p>Hallo</p>

<p>Bezahlung zur folgenden Buchung ist fehlgeschlagen:</p>

<a href="{{ url('reservation_show_reservation', {id: reservation.id}) }}">
    Reservation #{{ reservation.id }}
</a>

<p>
    Freundliche Grüsse<br>
    placeB-Team
</p>
{% endblock %}