* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: $text-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
}

.pure-g [class *="pure-u"] {
  font-family: $base-font-family;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $text-color;
}

p {
  margin: 0
}

h1, h2, h3, h4, h5, h6, .dark {
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
}

h1 {
  font-size: 300%;
  margin: 0;
}

.is-center {
  text-align: center;
}

.is-left {
  text-align: left;
}

.header-scroll {

  .logo-item {
    float: none;
  }

  .pure-menu-horizontal .pure-menu-list {
    display: block;
  }

  .pure-menu-fixed {
    position: static;
  }

}

.none-list {
  list-style-type: none;
  padding-left: 0;

  li {
    margin-bottom: 10px;
  }
}

.logo {
  width: 100px;
  margin-top: 13px;
}

/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.pure-menu-item {
  padding: 13px 0 12px;
}

.home-menu {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 0.5em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
}

.pure-menu.pure-menu-fixed {
  /* Fixed menus normally have a border at the bottom. */
  border-bottom: none;
  /* I need a higher z-index here because of the scroll-over effect. */
  z-index: 4;
}

.home-menu .pure-menu-heading {

  font-weight: 400;
  font-size: 120%;
}

.pure-menu-link {
  padding: 5px 18px;
}

.home-menu a {
  color: $grey-color;
  text-decoration: none;
}

.home-menu li a:hover,
.home-menu li a:focus {
  background: none;
  border: none;
  color: $text-color;
}

.content-head {
  font-weight: 400;
  letter-spacing: 0.1em;
  margin: 0 0 10px 0;
  font-size: 2.2em;
}

.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

blockquote {
  //background: #f8f8f8;
  border-left: 10px solid #ccc;
  margin: 1.5em 0px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}

blockquote p {
  display: inline;
}

.label-information {
  background-color: $f500-green;
  display: inline;
  padding: .5em .5em .3em .5em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.pure-button {
  background-color: #5ba136;
  border-radius: 6px;
  color: #fff;
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
  background-color: rgba(0, 0, 0, 0.5);
}

.button-xlarge {
  font-size: 110%;
}

.action-buttons {
  position: absolute;
  z-index: 9999;
  .pure-button {
    margin-bottom: 5px;
  }
}

.offer-form {
  width: 70%;
  margin: auto;

  input, textarea {
    width: 100%;
  }
}

.full-width-form {
  input, textarea {
    width: 100%;
  }
}

label {
  font-weight: bold;
}

.error {
  padding: 10px 12px;
  color: #ba2121;
  border: 1px solid #ba2121;
  background-color: rgba(#ba2121, 0.1);
  border-radius: 4px;
  display: none;
}

.success {
  padding: 10px 12px;
  color: #5ba136;
  border: 1px solid #5ba136;
  border-radius: 4px;
  background-color: rgba(#5ba136, 0.1);
  display: none;
}

input.error, textarea.error {
  border: 1px solid #ba2121;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.lu {
  background: darken(#d71921, 5%);
  padding: 5px 0 !important;

  color: white;
  margin: 0;
  font-size: 1.1em;

  &.small {
    font-size: 1.0em;
  }

  &.blue {
    background: #558ac9;
  }
}

.lu-splash {
  margin-top: 85px;
}

@media (max-width: 767px) {
  margin-top: 0px;
}

@media (max-width: 1136px) {

  .lu-splash {
    text-align: left !important;

    .splash-subhead {
      text-align: left !important;
    }

    .splash-head {
      font-size: 2.2em !important;
      text-align: left !important;
    }
  }
}