* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: $text-color;
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
}

.pure-g [class *="pure-u"] {
  font-family: $base-font-family;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: $text-color;
}

p {
  margin: 0
}

h1, h2, h3, h4, h5, h6, .dark {
  color: $black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
}

h1 {
  font-size: 300%;
  margin: 0;
}

.is-center {
  text-align: center;
}

.is-left {
  text-align: left;
}

.none-list {
  list-style-type: none;
  padding-left: 0;

  li {
    margin-bottom: 10px;
  }
}

.logo {
  width: 100px;
  margin-top: 13px;
}

/*
 * -- MENU STYLES --
 * I want to customize how my .pure-menu looks at the top of the page
 */

.pure-menu-item {
  padding: 13px 0 12px;
}

.home-menu {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 0.5em;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
}

.pure-menu.pure-menu-fixed {
  /* Fixed menus normally have a border at the bottom. */
  border-bottom: none;
  /* I need a higher z-index here because of the scroll-over effect. */
  z-index: 4;
}

.home-menu .pure-menu-heading {

  font-weight: 400;
  font-size: 120%;
}

.pure-menu-link {
  padding: 5px 18px;
}

.home-menu a {
  color: $grey-color;
  text-decoration: none;
}

.home-menu li a:hover,
.home-menu li a:focus {
  background: none;
  border: none;
  color: $text-color;
}

.content-head {
  font-weight: 400;
  letter-spacing: 0.1em;
  margin: 0 0 10px 0;
  font-size: 2.2em;
}

.videowrapper {
  float: none;
  clear: both;
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}
.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

blockquote {
  //background: #f8f8f8;
  border-left: 10px solid #ccc;
  margin: 1.5em 0px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}