@font-face {
  font-family: 'Fontfabric-UniSansBook';
  src: url("/fonts/fontfabric-UniSansBook.otf") format("opentype");
  font-weight: normal;
}

/*
@font-face {
  font-family: 'Fontfabric';
  font-weight: bold;
  src: url("/fonts/fontfabric-UniSansSemiBold.otf") format("opentype");
}
*/