
.hiw-image {
  max-height: 100px;
  max-width: 100%;
}

.hiw-image-use {
  max-width: 170px;
}

.hiw-image-arrow {
  margin-top: 50px;
}

.hiw {
  max-width: 80%;
}

.splash-container {
  z-index: 1;
  width: 100%;
  height: 500px;
  top: 0px;
  left: 0px;
  position: fixed;
  background-color: #5ba136;
  //background: radial-gradient(circle farthest-corner at right bottom, #afc378 0, #82aa23 28%, #5ba136 79%, #3c763d 100%);

  background: radial-gradient(circle farthest-corner at right bottom, #afc378 0, #82aa23 28%, #5ba136 79%, #3c763d 100%);
  overflow: hidden;
  color: white;
}

.splash {
  height: 50%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  bottom: 140px;
  right: 0;
}

.splash-head {
  color: #fff;
  margin: 0;
  font-weight: 400;
  margin-top: 75px;
}

.splash-subhead {
  font-size: 2em;
  line-height: 1.4em;
  color: #fff;
  color: hsla(0, 0%, 100%, .8);
  margin: 0em 0 1em;
  width: 96%;
  font-weight: normal;
}

.key-visual {
  position: absolute;
  left: 30%;
  top: 50%;
  margin-top: -250px;
  width: 577px;
  height: 550px;
  background-image: url(asset_path("placeb-visual@2x.png"));
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 519px 450px;
}

.content-wrapper {
  position: absolute;
  top: 500px;
  min-height: 12%;
  background: white;
  z-index: 2;
  width: 100%;
}

.placeb-visual {
  max-width: 100%;
}

.testimonials {
  padding: 50px 50px 0 50px;
}

.testimonial {
  font-style: italic;
  color: #89888e;
  line-height: 1.38;
  padding: 0 5px;
}

.testimonial-avatar {
  width: 100px;
  height: 100px;
  margin: 0px auto 25px auto;
  overflow: hidden;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 0 0 3px #fff, 0 0 0 4px $f500-green, 0 2px 5px 4px rgba(0, 0, 0, .2);

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
  }
}

.testimonial-author {
  padding-top: 30px;
}

.box-size {
  padding: 5px;
  background-color: white;
  height: 183px;

  &.box-border {
    border: 1px solid #ebebed;
    border-right: none;
  }
}

.box-image {
  height: 100px;
}

.stars {
  margin-bottom: 20px;
}
