.stores-image {
  width: 150px;
}

.content {
  margin: 0 auto;
  max-width: 75rem;
  width: 100%;
}

.section {
  padding: 75px;
}


.inner-section {
  padding: 75px 0;
}

.grey-section {
  background-color: $grey-color-light;
}

.dark-grey-section {
  background-color: #ebebed;
}

.green-section {
  background-color: $dark-green;
  color: white;
}

.green {
  color: $dark-green;
}

.white-link {
  color: white;
  text-decoration: none;
}

.padding-top {
  padding-top: 50px;
}


.logo-item {
  float: left;
}

.box-bg-section {
  color: white;
  background-image: url(asset_path("boxes.jpg"));
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .content-head{
    color: white;
  }
}

.transparent-bg {
  background-color: rgba($dark-green, 0.8);
  padding: 0px 20px;
}

article.content {
  padding-top: 100px;
  padding-bottom: 100px;
}

