@media (max-width: 1280px) {
  .content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 48em) {

  .home-menu {
    text-align: left;
  }
  .home-menu ul {
    float: right;
  }

}

@media (min-width: 78em) {
  .splash-head {
    font-size: 300%;
  }
}

@media (max-width: 48em) {
  .pure-menu-item {
    padding: 0;
  }

  .logo-item {
    float: none;
  }

  .home-menu {
    padding: 0;
  }

  .pure-menu-horizontal .pure-menu-list {
    display: block;
  }

  .pure-menu-link {
    padding: 5px 10px 10px 0;
  }

  .logo {
    width: 60px;
    margin-top: 13px;
  }

  .pure-menu-fixed{
    position: static;
  }

  .splash-head {
    margin-top: 15px;
  }


  body {
    font-size: 14px;
  }

  .splash-container {
    position: relative;
    height: 450px;
    text-align: center;
  }

  .splash {
    position: relative;
    bottom: 0px;
    margin-top: 0;
  }

  .content-wrapper {
    position: relative;
    height: auto;
    top: 0px;
  }

  .placeb-visual {
    max-width: 80%;
  }

  .hide-small {
    display: none;
  }

  .section {
    padding: 25px;
  }

  .padding-top {
    padding-top: 20px;
  }

  .testimonial-author {
    padding-bottom: 20px;
  }

  .hiw-image-margin {
    margin-top: 50px;
  }

  .key-visual {
    top: auto;
    right: auto;
    left: 50%;
    margin-top: 0;
    margin-left: -312px;
    background-size: 403px 350px;
    height: 500px;
    background-image: url(asset_path("placeb-visual.png"));
  }

  .stores-image {
    width: 100px;
  }

}

@media (max-width: 30em) {
  .key-visual {
    background-size: 344px 290px;
  }
}