@import "vendors/pure-min";
//@import "vendors/grids-responsive-min";
@import "const";

body {
  color: $text-color;
  font-size: 14px;
  font-family: $base-font-family;
  line-height: $base-line-height;
}

.content {
  padding: 10px 5%;
  text-align: center;
}

.hiw-image {
  max-width: 100%;
  max-height: 100px;
}

h1, h2, h3 {
  color: $black;
}

.padding-top {
  padding-top: 30px;
}