{% extends "::base-email.html.twig" %}

{% block body %}
    <p>Hello</p>

    <p>You can access the invoice in your placeB app.</p>
    <p>We hope that you enjoy the additional space for your life.</p>
    <p>In case of questions you can contact us at <a href="mailto:info@placeb.ch">info@placeb.ch</a> melden.</p>

    <p>
        Voluminous regards<br>
        Your placeB team
    </p>
{% endblock %}