{% extends "::base-email.html.twig" %}

{% block body %}
    <p>Hallo</p>

    <p>Die Rechnung zu deiner Box ist ab sofort in deiner placeB App verfügbar.</p>
    <p>Wir hoffen, dass du Freude an der Box hast</p>
    <p>Bei Fragen kannst du dich jederzeit über <a href="mailto:info@placeb.ch">info@placeb.ch</a> melden.</p>

    <p>
        Voluminöse Grüsse<br>
        Dein placeB Team
    </p>
{% endblock %}