<div id="c833" class="csc-default">
    <div>
        <p>
            Allgemeine
            Geschäftsbedingungen</p>
        <p>
            zum Self-Storage Vertrag mit
            placeB AG</p>
        <p><br>
        </p>
    </div>
    <p>
        <br>
        <br>
    </p>
    <ol>
        <li>
            <p>
                <b>GEGENSTAND
                    DES VERTRAGS</b></p>
            <ol>
                <li>
                    <p>
                        placeB AG
                        ("placeB") stellt dem Kunden / der Kundin  unter dem
                        Self-Storage Vertrag für einen vereinbarten Zeitraum und gegen ein
                        Entgelt gemäss den vorliegenden Allgemeinen Geschäftsbedingungen
                        ("AGB") einen in sich geschlossenen Lagerraum (nachfolgend eine
                        "placeBox") für seine/ihre Gegenstände zur Verfügung
                        (einfachheitshalber wir nachfolgend für den Kunden / die Kundin
                        nur die männliche Form verwendet).</p>
                </li><li>
                    <p>
                        Diese AGBs sind
                        Bestandteil des Self-Storage Vertrags und der Kunde ist
                        verpflichtet, diese AGBs sowie Weisungen von placeB zu befolgen.
                        Der Kunde haftet für alle von ihm verursachten Schäden und
                        Aufwendungen, welche infolge Verletzung des Self-Storage Vertrags
                        (inkl. diesen AGBs) bei placeB oder Dritten anfallen.</p>
                </li><li>
                    <p>
                        Dieser Vertrag
                        entspricht nicht einem Hinterlegungsvertrag und placeB hat
                        keinerlei Verpflichtungen eines Aufbewahrers im Sinne von Art. 472
                        ff. OR. placeB kennt weder Art, Anzahl, Beschaffenheit noch Wert
                        der Gegenstände des Kunden und nimmt diese auch nicht entgegen.
                        Der Kunde lagert seine Gegenstände selbständig in seiner placeBox
                        bei placeB ein, hat jederzeit Zugang dazu und kann diese auch
                        jederzeit aus der placeBox entfernen.</p>
                </li><li>
                    <p>
                        Dieser
                        Self-Storage Vertrag untersteht nicht den gesetzlichen Bestimmungen
                        über die Wohn- und Geschäftsräume, da die placeBox nicht für
                        die Ausübung einer Geschäftstätigkeit oder als Wohn- bzw.
                        Aufenthaltsraum, sondern nur für die Lagerung von Gegenständen,
                        genutzt werden darf. Dem Kunden ist es untersagt, in der placeBox
                        seinen Wohnsitz, Geschäftssitz oder seine Zweigniederlassung
                        rechtlich oder faktisch zu errichten und Werbeschilder, Anzeigen
                        oder Leuchtschilder im Inneren oder Äusseren der placeBox
                        anzubringen. Jegliche Tätigkeit abgesehen von der Lagerung von
                        Gegenständen ist strengstens untersagt. Der Kunde erklärt
                        ausserdem, dass die placeBox für die Betreibung eines Geschäfts
                        weder notwendig noch unerlässlich ist.</p>
                </li><li>
                    <p>
                        Der vorliegende
                        Self-Storage Vertrag gilt nicht als Safe-Vertrag, da das von placeB
                        angebotene Sicherheitsniveau nicht ausreichend ist. placeB
                        übernimmt keine Haftung für Verlust, Diebstahl oder Beschädigung
                        an den gelagerten Gegenständen und verlangt zwingend, dass der
                        Kunden den Wert der gelagerten Gegenständen versichern lässt
                        (siehe Ziffer 8).</p>
                </li></ol>
        </li></ol>
    <p>
        <br>
        <br>
    </p>
    <ol>
        <li>
            <p>
                <b>ÜBERNAHME
                    &amp; RÜCKGABE DER PLACEBOX</b></p>
            <ol>
                <li>
                    <p>
                        Dem Kunden wird
                        anlässlich des Vertragsschlusses eine placeBox im vereinbarten
                        Gebäude zugeteilt. Der Kunde hat keinen Anspruch auf eine
                        spezifische placeBox. Der Kunde hat die placeBox bei Übernahme zu
                        kontrollieren und etwaige Schäden oder Verunreinigungen placeB
                        unverzüglich zu melden. Erfolgt eine solche Meldung nicht, wird
                        davon ausgegangen, dass die placeBox in reinem und unbeschädigtem
                        Zustand übernommen wurde.</p>
                </li><li>
                    <p>
                        Der
                        Kunde ist verpflichtet, die placeBox spätestens am letzten Tag der
                        Vertragsdauer in einwandfreiem Zustand, frei von Gegenständen und
                        Abfall sowie gereinigt zurückzugeben. Allenfalls entstandene
                        Schäden oder notwendige Reinigungs- oder Reparaturarbeiten werden
                        dem Kunden in Rechnung gestellt. Die Rückerstattung der
                        Sicherheitsleistung (Kaution) erfolgt erst nach Erfüllung dieser
                        Bestimmung.</p>
                </li><li>
                    <p>
                        Hat der Kunde die
                        placeBox am letzten Tag der Vertragsdauer nicht geräumt, behält
                        sich placeB das Recht vor, die placeBox selbst zu räumen.
                        Ausserdem ist während einer Besetzung der placeBox nach Ablauf der
                        Vertragsfrist eine Vergütung in Höhe der vereinbarten Gebühr,
                        erhöht um eine Vertragsstrafe von 10%, zu entrichten.</p>
                </li></ol>
        </li></ol>
    <p>
        <br>
        <br>
    </p>
    <ol>
        <li>
            <p>
                <b>NUTZUNGSBEDINGUNGEN
                </b>
            </p>
            <ol>
                <li>
                    <p>
                        Der Kunde benutzt
                        ausschliesslich die ihm zugeteilte placeBox und kann weder in
                        anderen Räumen oder Flächen des Gebäudes Gegenstände lagern,
                        noch die festgelegten Grenzen seiner placeBox überschreiten. Der
                        Kunde darf die Räume, Wände, Trennvorrichtungen, Türen,
                        elektrischen Leitungen sowie alle anderen Einrichtungsgegenstände
                        von placeB nicht verändern. Es ist ihm auch untersagt, die in der
                        placeBox vorhandenen Einrichtungsgegenstände, Möbel oder
                        sonstigen Gegenstände zu entfernen, zu beschädigen oder
                        zweckzuentfremden. Der Kunde ist nicht berechtig, in der placeBox
                        Nägel einzuschlagen, Schrauben zu montieren oder sonst welche
                        Befestigungsvornahmen vorzunehmen.</p>
                </li><li>
                    <p>
                        Gestattet ist in
                        der placeBox nur die Lagerung von Gegenständen. Es ist dem Kunden
                        insbesondere untersagt, in seiner placeBox Arbeiten jeglicher Art
                        durchzuführen und Maschinen oder andere Gegenstände aufzustellen,
                        die einen elektrischen Anschluss benötigen. Die placeBox darf
                        weder als Wohnraum, auch nicht kurzzeitig, noch zur Ausübung
                        irgendeiner Geschäftstätigkeit benutzt werden.
                    </p>
                </li><li>
                    <p>
                        Es ist dem Kunden
                        untersagt, die placeBox, das Gebäude oder das Gelände in einer
                        derartigen Weise zu verwenden, dass irgendjemand, insbesondere
                        andere Kunden, Mieter, die Verwaltung, der Gebäudeeigentümer oder
                        placeB, gestört oder beeinträchtigt werden oder werden könnten
                        oder der Verkehr auf dem Gelände in irgendeiner Form behindert
                        wird. Der Kunde achtet darauf, die automatischen Türen nicht zu
                        blockieren und darf die Gänge, Türen und Lifte nicht unnötig
                        versperren. Die Nutzung dieser allgemeinen Räume und Gegenstände
                        ist zeitlich nur für die Be- und Entladung erlaubt. Es dürfen nur
                        die für placeB Kunden zur Verfügung gestellten Parkplätze
                        benutzt werden und diese sind zeitlich begrenzt nur für die Be-
                        und Entladung zu benutzen.</p>
                </li><li>
                    <p>
                        Für die
                        Benützung der Personen- und Warenaufzüge gelten die dort
                        angebrachten Vorschriften, insbesondere die Belastungsvorschriften.
                        Der Kunde hat zudem die zulässige Bodenbelastung einzuhalten.</p>
                </li><li>
                    <p>
                        Die An- und
                        Auslieferung von Gegenständen hat sorgfältig zu erfolgen und darf
                        nur an den dafür vorgesehen Orten durchgeführt werden.
                        Verunreinigungen aus der An- und Auslieferung von Gegenständen hat
                        der Kunde sofort und unaufgefordert zu beseitigen. Entstandene
                        Schäden sind unverzüglich placeB zu melden, die die Behebung auf
                        Kosten des Kunden veranlasst.</p>
                </li><li>
                    <p>
                        Der Kunde
                        verpflichtet sich, die placeBox stets in einwandfreiem und sauberem
                        Zustand zu halten. Er vermeidet es insbesondere, dort Gegenstände
                        in einer Art zu lagern, welche die placeBox, das Gebäude oder die
                        von anderen Kunden gelagerten Gegenstände beeinträchtigen könnten
                        (z.B. durch Ungeziefer, Rost, etc.).</p>
                </li><li>
                    <p>
                        Der Kunde ist
                        verpflichtet, unverzüglich etwaige Schäden in oder an der
                        placeBox an placeB zu melden.</p>
                </li><li>
                    <p>
                        Es ist
                        ausdrücklich untersagt, folgende Gegenstände zu lagern:
                    </p>
                    <ul>
                        <li>
                            <p>
                                gefährliche,
                                toxische, entzündliche, explosive, radioaktive oder ätzende
                                Gegenstände;</p>
                        </li><li>
                            <p>
                                verderbliche,
                                riechende oder feuchte Gegenstände;</p>
                        </li><li>
                            <p>
                                Gegenstände,
                                welche die Nutzung anderer Kunden stören;</p>
                        </li><li>
                            <p>
                                Munition;</p>
                        </li><li>
                            <p>
                                Kunst, Schmuck,
                                Geld, Postmarken, Uhren, Münzen, Medaillen, Edelmetalle,
                                Edelsteine, Perlen;</p>
                        </li><li>
                            <p>
                                tote oder
                                lebende Tiere sowie Pflanzen und verderbliche Lebensmittel;</p>
                        </li><li>
                            <p>
                                alle
                                Gegenstände, die gesetzlich vorgeschriebene Lagerbedingungen
                                erfordern oder
                            </p>
                        </li><li>
                            <p>
                                alle
                                Gegenstände, deren Besitz gesetzlich verboten ist.</p>
                        </li></ul>
                </li><li>
                    <p>
                        Kleider, Wäsche,
                        Decken, Teppiche sowie ähnliche Gegenstände sind durch den Kunden
                        mit Mottenschutz vorab zu behandeln.</p>
                </li><li>
                    <p>
                        ES IST
                        STRENGSTENS UNTERSAGT, IM BEREICH DER ANLAGEN VON PLACEB ZU
                        RAUCHEN, BESONDERS IM EINGANGSBEREICH, AUF DEN PARKPLÄTZEN, IN DEN
                        GÄNGEN UND IN DEN PLACEBOXEN. Der Kunde achtet darauf, die
                        Funktion oder Zugänglichkeit aller Brandschutzanlagen, wie
                        Rauchmelder, Sprinkleranlagen, Feuerlöscher, Alarmdruckknöpfe,
                        Fluchtwege, etc. nicht zu blockieren. Allfällig vorhandene Feuer-
                        oder Nottreppe sowie andere Notausgänge dürfen nur im Fall eines
                        Brandes oder eines Notfalles benutzt werden. Der Zugang zur
                        Nottreppe sowie zu anderen Notausgängen muss jederzeit
                        freigehalten werden. Lagerung jeglicher Art in den Fluchtwegen ist
                        untersagt.</p>
                </li><li>
                    <p>
                        Jedes
                        Aufbewahren, Lagern oder Hinterlassen von Abfall in oder um die
                        placeBox und dem Gebäude ist untersagt. Der Kunde ist vielmehr
                        verpflichtet, sämtliche Abfälle mitzunehmen und sie zu entsorgen.
                        Das Entsorgen von hinterlassenem Müll wird dem Kunden in Rechnung
                        gestellt.</p>
                </li><li>
                    <p>
                        Die Nutzung
                        allfälliger zur Verfügung gestellter Transportgeräte liegt in
                        der alleinigen Verantwortung des Kunden. placeB lehnt jede Haftung
                        im Fall von Unfällen oder Beschädigung der eingelagerten Güter
                        durch den Gebrauch dieser Transportgeräte ab.</p>
                </li><li>
                    <p>
                        placeB behält
                        sich das Recht vor, unter Einhaltung einer Frist von sieben (7)
                        Tagen nach Mitteilung an den Kunden, jedoch ohne Angabe von
                        Gründen, diesem während der Vertragslaufzeit eine andere placeBox
                        gleicher Grösse im gleichen Gebäude zuzuteilen. Die anfallenden
                        Kosten für die Verlagerung der Gegenstände von einem Raum zum
                        anderen trägt placeB.</p>
                </li></ol>
        </li></ol>
    <p>
        <br>
        <br>
    </p>
    <ol>
        <li>
            <p>
                <b>ZUTRITT
                    ZUM GEBÄUDE UND ZUR PLACEBOX</b></p>
            <ol>
                <li>
                    <p>
                        Das
                        Betreten und Verlassen des Gebäudes und der placeBox ist
                        gesichert. Der Kunde kann das Gebäude und die placeBox nur mittels
                        der von placeB zur Verfügung gestellten placeB App betreten. Das
                        Gebäude und die placeBox sind videoüberwacht und die placeBox ist
                        mit einem individuellen Alarm ausgestattet. Der Kunde ist sich aber
                        bewusst, dass die Sicherheitsvorkehrungen nicht denjenigen eines
                        Tresors oder Bankschliessfaches entsprechen.</p>
                </li><li>
                    <p>
                        Der Zutritt zur
                        placeBox ist an jedem Tag der Woche 24 Stunden möglich. placeBox
                        behält sich das Recht vor, die Öffnungszeiten anzupassen.
                    </p>
                </li><li>
                    <p>
                        Der Kunde
                        verpflichtet sich, alle von placeB vorgeschriebenen
                        Sicherheitsvorkehrungen (wie z.B. Verhaltensregeln,
                        Hinweisschilder, etc.) einzuhalten, insbesondere diejenigen, die
                        den Zugang sowie die Öffnungs- und Schliesssysteme des Gebäudes
                        und der placeBox betreffen. Der Kunde vergewissert sich beim Öffnen
                        der Türen, dass er der einzige ist, der das Gebäude betritt. Der
                        Kunde muss sicherstellen, dass die Türen und Tore hinter ihm
                        richtig geschlossen werden. Bei allfälligen Problemen muss er
                        placeB informieren.
                    </p>
                </li><li>
                    <p>
                        JEDE
                        ALARMAUSLÖSUNG AUFGRUND UNKORREKTEN VERHALTENS, WELCHES DEN
                        EINSATZ EINER SICHERHEITSFIRMA, DER POLIZEI ODER DER FEUERWEHR ZUR
                        FOLGE HAT, WIRD DEM KUNDEN MIT MINDESTENS CHF 200.- IN RECHNUNG
                        GESTELLT. Darüber hinaus hat er den weiteren Schaden zu bezahlen,
                        sofern er nicht beweist, dass ihn kein Verschulden trifft.</p>
                </li><li>
                    <p>
                        Der Kunde ist
                        dafür verantwortlich, dass sich die von ihm autorisierte bzw.
                        beauftragte Personen, welche mit dem  Zutrittsberechtigung des
                        Kunden das Gebäude bzw. die placeBox betritt, an die Zugangsregeln
                        hält und der Kunde haftet für deren Zuwiderhandlung wie für
                        eigenes Verhalten.
                    </p>
                </li><li>
                    <p>
                        Der Kunde ist
                        verpflichtet, seine placeBox zu verschliessen und während seiner
                        Abwesenheit verschlossen zu halten. placeB ist nicht verpflichtet,
                        eine nicht verschlossene placeBox zu verschliessen.</p>
                </li><li>
                    <p>
                        Zugang zur
                        placeBox hat ausschliesslich der Kunde oder die von ihm
                        autorisierten Personen. placeB ist aber berechtigt, in
                        Gefahrensituationen (für den Kunden, placeB oder Dritte) sowie bei
                        begründetem Verdacht auf Verletzung der Nutzungsbedingungen oder
                        von Gesetzesbestimmungen die placeBox des Kunden zu betreten und
                        bei Bedarf zur Abwendung einer Gefahr die Gegenstände in eine
                        alternative placeBox zu verlegen oder zu beseitigen. Zudem ist
                        placeB nach vorheriger Ankündigung an den Kunden ausnahmsweise
                        berechtigt, die placeBox des Kunden im Rahmen von Inspektionen,
                        Instandhaltungsarbeiten oder Umbauten der Anlagen und der placeBox
                        zu betreten.
                    </p>
                </li><li>
                    <p>
                        Der Kunde ist
                        nicht berechtigt, Zusatzschlösser irgendeiner Art anzubringen.
                        Bringt der Kunde trotzdem solche an, ist placeB jederzeit und ohne
                        vorherige Verständigung des Kunden berechtigt, diese auf Kosten
                        des Kunden zu entfernen oder entfernen zu lassen und zu entsorgen.</p>
                </li></ol>
        </li></ol>
    <p>
        <br>
        <br>
    </p>
    <p>
        <br>
        <br>
    </p>
    <ol>
        <li>
            <p>
                <b>VERTRAGSDAUER
                    &amp; KÜNDIGUNG</b></p>
            <ol>
                <li>
                    <p>
                        Der Self-Storage
                        Vertrag kann befristet oder unbefristet sein. Die Parteien legen
                        bei Abschluss des Self-Storage Vertrags die Dauer der Überlassung
                        der placeBox fest. Im Falle eines unbefristeten Self-Storage
                        Vertrags können die Parteien eine Mindestlaufzeit vorsehen.</p>
                </li><li>
                    <p>
                        Wird ein
                        befristeter Self-Storage Vertrag abgeschlossen und wird der
                        Self-Storage Vertrag nach der vereinbarten Laufzeit weder befristet
                        verlängert noch rechtzeitig geräumt, verlängert sich der
                        Self-Storage Vertrag auf unbeschränkte Dauer.</p>
                </li><li>
                    <p>
                        Eine ordentliche
                        Kündigung des Self-Storage Vertrags ist beim unbefristeten
                        Self-Storage Vertrag beiderseits mit einer Frist von zwei (2)
                        Wochen  möglich, jedoch frühestens auf Ablauf der
                        Mindestlauffrist, wenn eine solche vereinbart wurde. Beim
                        befristeten Self-Storage Vertrag ist keine ordentliche Kündigung
                        möglich.</p>
                </li><li>
                    <p>
                        Die
                        ausserordentliche Kündigung wegen Vertragsverletzung  ist in
                        Ziffer 11 geregelt.
                    </p>
                </li></ol>
        </li></ol>
    <p>
        <br>
    </p>
    <ol>
        <li>
            <p>
                <b>ENTGELT
                    &amp; SICHERHEITSLEISTUNG (KAUTION)</b></p>
            <ol>
                <li>
                    <p>
                        Die Überlassung
                        der placeBox erfolgt gegen ein Entgelt. Die Höhe des vom Kunden im
                        konkreten Vertragsverhältnis zu zahlenden Entgelts sowie die
                        Zahlungsmodalitäten werden bei Abschluss des Self-Storage Vertrags
                        festgelegt.</p>
                </li><li>
                    <p>
                        Das Entgelt für
                        einen befristeten Self-Storage Vertrag oder aber für einen Vertrag
                        mit Mindestlaufzeit ist für die gesamte Vertrags- bzw.
                        Mindestlaufzeit vollständig im Voraus zu zahlen. Das Entgelt im
                        unbefristeten Vertragsverhältnis ausserhalb der Mindestlaufzeit
                        ist jeweils monatlich im Voraus zu entrichten.
                    </p>
                </li><li>
                    <p>
                        placeB ist
                        berechtigt, das Entgelt im unbefristeten Vertragsverhältnis (nach
                        Ablauf einer etwaigen Mindestlaufzeit) jederzeit und ohne Grund zu
                        ändern. Darüber ist der Kunde schriftlich und unter Einhaltung
                        einer Frist von mindestens vier (4) Wochen vor Inkrafttreten der
                        Änderung zu informieren.
                    </p>
                </li><li>
                    <p>
                        Bei
                        Vertragsabschluss kann dem Kunden eine Sicherheitsleistung
                        (Kaution) an placeB in Höhe von mindestens einer Monatsgebühr
                        verrechnet werden. Diese kann bei Erhöhung der Monatsgebühr
                        entsprechend angepasst werden. placeB behält sich jedoch das Recht
                        vor, je nach Fall, eine höhere Sicherheitsleistung zu fordern. Die
                        Sicherheitsleistung wird nicht verzinst und wird spätestens
                        dreissig (30) Tage nach Ende des Vertragsverhältnisses und
                        rechtzeitiger sowie ordnungsgemässer Rückgabe der placeBox dem
                        Kunden zurückbezahlt, jedoch reduziert um sämtliche noch offenen
                        Ansprüche von placeB gegenüber dem Kunden unter dem
                        Vertragsverhältnis.</p>
                </li></ol>
        </li></ol>
    <p>
        <br>
    </p>
    <ol>
        <li>
            <p>
                <b>HAFTUNG
                    VON PLACEB</b></p>
            <ol>
                <li>
                    <p>
                        Die vom Kunden
                        eingelagerten Güter werden von placeB nicht versichert. Die
                        Lagerung der Gegenstände erfolgt auf eigenes Risiko des Kunden.
                    </p>
                </li><li>
                    <p>
                        placeB lehnt
                        jegliche Haftung für Beschädigung, Verlust oder Zerstörungen der
                        Gegenstände des Kunden unabhängig welcher Ursache (z.B. aufgrund
                        von Diebstahl, Brand, Wasser, Vandalisums) ab, egal ob sich diese
                        in der placeBox, innerhalb des Gebäudes oder auf dem Gelände
                        befanden.
                    </p>
                </li><li>
                    <p>
                        DER
                        KUNDE IST ALLEINE FÜR DIE ERTEILUNG DES ZUGANGS ZU SEINER PLACEBOX
                        AN DRITTE VERANTWORTLICH UND PLACEB HAFTET NICHT FÜR SCHÄDEN,
                        VERLUST ODER DIEBSTAHL DER GEGENSTÄNDE DES KUNDEN, WELCHE IM
                        ZUSAMMENHANG MIT EINER SOLCHEN ZUGANGSERTEILUNG AN DRITTE STEHEN.</p>
                </li><li>
                    <p>
                        placeB
                        haftet nicht, wenn der Zutritt zum Gelände oder zur placeBox, etwa
                        wegen eines technischen Fehlers, vorübergehend nicht möglich ist.
                        Der Kunde ist nicht berechtigt, aus der vorübergehenden
                        Unterbrechung der Versorgung der placeBox oder des Geländes mit
                        Wasser, Strom etc. Ansprüche welcher Art auch immer,  insbesondere
                        Schadenersatz- oder Zahlungsminderungsansprüche, gegen placeB
                        geltend zu machen.</p>
                </li></ol>
        </li></ol>
    <p>
        <br>
        <br>
    </p>
    <p>
        <br>
        <br>
    </p>
    <ol>
        <li>
            <p>
                <b>VERSICHERUNG
                    ÜBER DIE GELAGERTEN GEGENSTÄNDE</b></p>
            <ol>
                <li>
                    <p>
                        Der Kunde ist
                        verpflichtet, eine umfassende Versicherung für die gelagerten
                        Gegenstände abzuschliessen und diese während der gesamten
                        Lagerdauer aufrechtzuerhalten. Diese Versicherung muss insbesondere
                        Brandrisiken, Explosionen, Wasserschäden, Raub, Diebstahl,
                        Vandalismus und Elementarschäden in Höhe des Ersatzwerts der
                        gelagerten Gegenstände umfassen.</p>
                </li><li>
                    <p>
                        Um seinen
                        Verpflichtungen im Zusammenhang mit der Versicherung nachzukommen,
                        hat der Kunde folgende Möglichkeiten:</p>
                    <ul>
                        <li>
                            <p>
                                Abschluss einer
                                Versicherung über placeB: placeB schliesst zu diesem Zweck eine
                                Versicherung bei einer renommierten Versicherungsgesellschaft ab.
                            </p>
                        </li><li>
                            <p>
                                Abschluss einer
                                Versicherung bei einer Versicherungsgesellschaft seiner Wahl oder
                                Erweiterung seines bestehenden Versicherungsschutzes auf die bei
                                placeB gelagerten Gegenstände.</p>
                        </li></ul>
                </li><li>
                    <p>
                        Bei einem
                        Abschluss einer Versicherung über placeB</p>
                    <ul>
                        <li>
                            <p>
                                teilt der Kunde
                                placeB den Neuwert der gelagerten Gegenstände mit,</p>
                        </li><li>
                            <p>
                                teilt der Kunde
                                placeB mit, falls sich der Neuwert der gelagerten Gegenstände
                                während der Vertragslaufzeit ändert,</p>
                        </li><li>
                            <p>
                                haftet die
                                Versicherung nur für den versicherten Neuwert und nicht für eine
                                allfällige Differenz zwischen dem versicherten Neuwert und dem
                                effektiven Verlust und</p>
                        </li><li>
                            <p>
                                verliert der
                                Versicherungsschutz seine Gültigkeit, sobald der Kunde mit der
                                Bezahlung des entsprechenden Versicherungsbetrags mehr als zehn
                                (10) Tage im Verzug ist, ohne dass eine Mahnung nötig wäre.
                            </p>
                        </li></ul>
                </li></ol>
        </li></ol>
    <p>
        <br>
        <br>
    </p>
    <ol>
        <li>
            <p>
                <b>NUTZUNGSBEDINGUNG
                    WLAN</b></p>
            <ol>
                <li>
                    <p>
                        placeB
                        stellt dem Kunden an gewissen Standorten während seines
                        Aufenthaltes in den Räumlichkeiten von placeB einen kabellosen
                        Internetzugang (WLAN) zur Verfügung. placeB ist nicht
                        verpflichtet, die tatsächliche Verfügbarkeit, Geeignetheit oder
                        Zuverlässigkeit dieses Internetzuganges für irgendeinen Zweck,
                        auch volumenmässig, zu gewährleisten. placeB ist jederzeit
                        berechtigt, den Zugang des Kunden ganz, teil- oder zeitweise zu
                        beschränken oder ihn von einer weiteren Nutzung ganz
                        auszuschließen. placeB behält sich insbesondere vor, nach freiem
                        Ermessen und jederzeit den Zugang auf bestimmte Seiten oder Dienste
                        über das WLAN zu sperren.</p>
                </li><li>
                    <p><a></a>
                        placeB
                        stellt dem Kunden hierfür Zugangsdaten (Login
                        und Passwort)
                        zur Verfügung. placeB kann diese Zugangsdaten jederzeit ändern
                        bzw. zeitlich beschränken. In diesem Fall kann der Kunde neue
                        Zugangsdaten anfordern. Der Kunde verpflichtet sich, seine
                        Zugangsdaten stets geheim zu halten.</p>
                </li><li>
                    <p>
                        Dem
                        Kunden ist bekannt, dass das WLAN lediglich die Zugangsmöglichkeit
                        zum Internet herstellt. Darüber hinausgehende
                        Sicherheitsmassnahmen (z.B. Virenschutz, Firewall o.ä.) stellt
                        placeB nicht zur Verfügung. Der
                        unter Nutzung des WLANs hergestellte Datenverkehr verwendet eine
                        WPA2-Verschlüsselung, so dass die missbräuchliche Nutzung Dritter
                        so gut wie ausgeschlossen ist und die Daten nicht durch Dritte
                        eingesehen werden können [<i><b>alternativ</b></i>]
                        Der unter Nutzung des WLANs hergestellte Datenverkehr ist
                        unverschlüsselt, so dass die missbräuchliche Nutzung Dritter
                        nicht ausgeschlossen ist und die Daten durch Dritte eingesehen
                        werden könnten .
                        Die Nutzung des WLANs erfolgt auf eigene Gefahr und auf eigenes
                        Risiko des Kunden. Für Schäden an Endgeräten oder Daten des
                        Kunden, die durch die Nutzung des WLANs entstehen, übernimmt
                        placeB keine Haftung.</p>
                </li><li>
                    <p>
                        Der Kunde
                        verpflichtet sich, bei Nutzung des WLANs geltendes Recht
                        einzuhalten. Insbesondere wird der Kunde:</p>
                    <ul>
                        <li>
                            <p>
                                keine
                                urheberrechtlich geschützten Werke widerrechtlich
                                vervielfältigen, verbreiten oder öffentlich zugänglich machen;
                            </p>
                        </li><li>
                            <p>
                                das WLAN weder
                                zum Abruf noch zur Verbreitung von sitten- oder rechtswidrigen
                                Inhalten nutzen;</p>
                        </li><li>
                            <p>
                                geltende
                                Jugendschutzvorschriften beachten;</p>
                        </li><li>
                            <p>
                                keine
                                herabwürdigenden, verleumderischen oder bedrohenden Inhalte
                                versenden oder verbreiten;</p>
                        </li><li>
                            <p>
                                das WLAN nicht
                                zur Versendung von Spam und/oder anderen Formen unzulässiger
                                Werbung nutzen.</p>
                        </li></ul>
                </li><li>
                    <p>
                        Der
                        Kunde wird hiermit darüber informiert, dass jede Nutzung des WLANs
                        von placeB mit IP-Adresse, MAC-Adresse, Datum und Dauer
                        dokumentiert und archiviert werden kann.</p>
                </li></ol>
        </li></ol>
    <p>
        <br>
        <br>
    </p>
    <ol>
        <li>
            <p>
                <b>DATENSCHUTZ</b></p>
            <ol>
                <li>
                    <p>
                        placeB
                        verpflichtet sich, das Schweizer Datenschutzgesetz einzuhalten und
                        Personendaten nur rechtmässig zu verarbeiten.</p>
                </li><li>
                    <p>
                        Der Kunde
                        gestattet die Überwachung von Personen im Gebäude und in der
                        placeBox durch Überwachungskameras. Der Kunde erklärt sich
                        explizit mit der Speicherung, Aufbewahrung und Auswertung der durch
                        die Überwachungskameras und Zutrittskontrollen erfassten Daten
                        durch placeB einverstanden.</p>
                </li></ol>
        </li></ol>
    <p>
        <br>
        <br>
    </p>
    <ol>
        <li>
            <p>
                <b>FOLGEN
                    BEI VERTRAGSBRUCH</b></p>
            <ol>
                <li>
                    <p>
                        Hält der Kunde
                        die Zahlungsfristen oder die übrigen im Self-Storage Vertrag
                        (inkl. diesen AGBs) festgelegten Bedingungen nicht ein:</p>
                    <ul>
                        <li>
                            <p>
                                hat placeB das
                                Recht, dem vertragsbrüchigen Kunden den Zutritt zum Gebäude
                                und/oder der placeBox zu verweigern und die Zugangsberechtigung zu
                                entziehen;</p>
                        </li><li>
                            <p>
                                kann placeB den
                                Self-Storage Vertrag mit dem vertragsbrüchigen Kunden mit
                                sofortiger Wirkung fristlos kündigen, sofern placeB dem
                                vertragsbrüchigen Kunden schriftlich (inkl. Email und SMS)
                                abgemahnt hat und der vertragsbrüchige Kunde innert einer Frist
                                von zehn (10) Tagen nach Erhalt dieser Mahnung seinen Zahlungs-
                                oder sonstigen Verpflichtungen nicht nachgekommen ist. Bei
                                schwerwiegender Verletzung von Vertragspflichten durch den Kunden
                                hat placeB das Recht, den Self-Storage Vertrag ohne Mahnung und
                                Ansetzen einer Nachfrist sofort fristlos zu kündigen; und/oder
                            </p>
                        </li><li>
                            <p>
                                haftet der
                                vertragsbrüchige Kunde placeB für alle durch seinen
                                Vertragsbruch verursachten Schäden.</p>
                        </li></ul>
                </li><li>
                    <p>
                        Der Kunde ist
                        verpflichtet, die placeBox nach Erhalt der ausserordentlichen
                        Kündigung innerhalb von 48 Stunden zu räumen und sauber und
                        gereinigt (gemäss Ziffer 2.2 und 2.3) zurückzugeben.</p>
                </li><li>
                    <p>
                        Die Parteien
                        vereinbaren, dass placeB im Falle von Zahlungssäumnis des Kunden
                        über ein Pfandrecht an den gelagerten Gegenständen des Kunden
                        verfügt, welche fortan unter rechtmässigem Besitz von placeB
                        gelagert sind und placeB dazu dienen, ihre Forderungen aus dem
                        Self-Storage Vertrag mit dem Kunden, insbesondere Entschädigungen,
                        Vertragsstrafen und Schadenersatz zu sichern. placeB kann:</p>
                    <ul>
                        <li>
                            <p>
                                die Gegenstände
                                auf Kosten und Gefahr des Kunden an einem anderen Ort lagern, oder</p>
                        </li><li>
                            <p>
                                diese frei und
                                ohne Weiteres (nach freiem Ermessen, freihändiger Verkauf oder
                                auf dem Betreibungswege) veräussern, um ihre Forderungen zu
                                decken, oder</p>
                        </li><li>
                            <p>
                                diese bei
                                geringem oder gar keinem Verkehrswert entsorgen.</p>
                        </li></ul>
                </li></ol>
        </li></ol>
    <p>
        Der Ertrag einer
        allfälligen Veräusserung dient dazu, die Forderungen von placeB zu
        decken. Die nicht durch die Veräusserung der Gegenstände
        abgedeckten Forderungen sowie die Kosten, die durch den Verkauf oder
        die Zerstörung der Waren entstehen, müssen vom Kunden zusätzlich
        übernommen werden. Ein eventueller Überschuss aus der Veräusserung
        wird auf einem nicht verzinslichen Konto hinterlegt, dessen Saldo der
        Kunde zurückfordern kann.</p>
    <p>
        <br>
        <br>
    </p>
    <ol>
        <li>
            <p>
                <b>VERMISCHTES</b></p>
            <ol>
                <li>
                    <p>
                        placeB behält
                        sich vor, diese AGBs einseitig an die Entwicklung der Situation und
                        Erfahrung des Geschäftsbetriebs anzupassen, wobei placeB darauf
                        achtet, dass in keinem Fall ein erhebliches und ungerechtfertigtes
                        Missverhältnis zwischen den vertraglichen Rechten und den
                        vertraglichen Pflichten des Kunden entstehen. Die neuen AGBs finden
                        auf den Self-Storage Vertrag mit dem Kunden Anwendung.</p>
                </li><li>
                    <p>
                        Dem Kunden ist es
                        nicht erlaubt, die placeBox gänzlich oder teilweise
                        unterzuvermieten, er kann jedoch die Nutzung durch Dritte zulassen.
                        Die Vertragsverantwortlichkeit bleibt weiterhin beim Kunden.</p>
                </li><li>
                    <p>
                        Eine Abtretung
                        dieses Self-Storage Vertrags setzt die schriftliche Zustimmung von
                        placeB voraus. placeB kann die Zustimmung ohne die Angabe von
                        Gründen ablehnen.</p>
                </li><li>
                    <p>
                        Der Kunde ist
                        verpflichtet, placeB umgehend jede Adressänderung sowie Änderung
                        der Telefonnummer und Email-Adresse schriftlich mitzuteilen.
                        Solange dies nicht geschehen ist, ist placeB berechtigt,
                        rechtsgültig Korrespondenz an die zuletzt angegebene
                        Adresse/Telefonnummer zu senden.</p>
                </li><li>
                    <p>
                        Sollten einzelne
                        Bestimmungen des Self-Storage Vertrags (inkl. diesen AGBs) ungültig
                        sein oder ungültig werden, bleiben die übrigen
                        Vertragsbestimmungen vollumfänglich in Kraft. Die ungültige
                        Bestimmung wird mit einer Bestimmung ersetzt, welche dem Willen der
                        Parteien am nächsten kommt.</p>
                </li><li>
                    <p>
                        placeB ist es
                        gestattet, Benachrichtigungen an den Kunden über die vom Kunden
                        angegebene Mobile-Telefonnummer und/oder Email zukommen zu lasen.</p>
                </li></ol>
        </li></ol>
    <p>
        <br>
        <br>
    </p>
    <ol>
        <li>
            <p>
                <b>ANWENDBARES
                    RECHT &amp; GERICHTSSTAND </b>
            </p>
            <ol>
                <li>
                    <p>
                        Der
                        Self-Storage-Vertrag untersteht Schweizer Recht unter Ausschluss
                        der kollisionsrechtlichen Bestimmungen und der Bestimmungen des
                        UN-Kaufrechts (CISG).</p>
                </li><li>
                    <p>
                        Für alle
                        Streitigkeiten im Zusammenhang mit diesem Self-Storage Vertrag sind
                        ausschliesslich die Gerichte der Stadt Zürich (Kreis 5) zuständig.</p>
                </li></ol>
        </li></ol>

</div>