<div id="c833" class="csc-default">
    <p>
        General Terms and Conditions
        for the
    </p>
    <p>
        Self-Storage Contract with
        placeB AG</p>
    <p><br>
    </p>
    <p>
        <br>
        <br>
    </p>
    <ol>
        <li>
            <p>
                <b>CONTRACT
                    OBJECTIVE</b></p>
            <ol>
                <li>
                    <p>
                        With this
                        Self-Storage Contract placeB AG ("placeB") provides the
                        customer (the "Customer") with a lockable storage area
                        (hereafter "placeBox") for his/her items for an agreed upon
                        period of time and a fee pursuant to the present General Terms and
                        Conditions ("GTCs").
                    </p>
                </li><li>
                    <p>
                        These GTCs are
                        part of the Self-Storage Contract and the Customer is obliged to
                        comply with these GTCs as well as the instructions provided by
                        placeB. The Customer is liable for all damages and expenses
                        incurred by placeB or a third party resulting from violating the
                        Self-Storage Contract (incl. these GTCs).</p>
                </li><li>
                    <p>
                        This Self-Storage
                        Contract does not represent an escrow agreement and placeB is not
                        obliged to store the goods pursuant to Article 472 seq. Code of
                        Obligations. placeB is not familiar with the type, quantity,
                        condition or value of the Customer's items and does not receive
                        the aforementioned information. The Customer independently stores
                        his/her items in his/her placeBox at placeB; he/she can access
                        his/her items and remove his/her items from the placeBox at any
                        time.</p>
                </li><li>
                    <p>
                        This Self-Storage
                        Contract is not subject to the legal regulations for rent of
                        residential and business spaces, because the placeBox may not be
                        used to conduct business or as a residential and/or living space.
                        The Customer is prohibited from legally or factually using the
                        placeBox as his/her residence, business or branch office and
                        placing advertising boards, ads or lighted signs in the interior or
                        on the exterior of the placeBox. Any activity other than storing
                        items is strictly prohibited. The Customer also declares that the
                        placeBox is not necessary or imperative for operating a business.</p>
                </li><li>
                    <p>
                        The present
                        Self-Storage Contract does not represent a Safe-Contract, because
                        the security standard provided by placeB is not sufficient.
                        placeBox is not liable for loss, theft or damages to the items
                        stored and is requesting that the Customer obtains insurance
                        coverage for the value of the stored items (see Clause 8)</p>
                </li></ol>
        </li></ol>
    <p>
        <br>
        <br>
    </p>
    <ol>
        <li>
            <p>
                <b>TAKE
                    OVER &amp; RETURN OF THE PLACEBOX</b></p>
            <ol>
                <li>
                    <p>
                        Upon entering the
                        Self-Storage Contract, the Customer is assigned a placeBox in the
                        agreed upon building. The Customer is not entitled to a specific
                        placeBox. The Customer must inspect the placeBox upon assignment;
                        he/she must report possible damages or lack of cleanliness
                        immediately. If the Customer does not report anything at all, it
                        shall be assumed that the placeBox was assigned in clean and
                        damage-free condition.</p>
                </li><li>
                    <p>
                        The Customer must
                        return the placeBox in proper and clean condition, free of any
                        items or debris, no later than the last contract day. Potentially
                        incurred damages or necessary cleaning and repairs shall be billed
                        to the Customer. The security deposit will only be returned after
                        these conditions have been met.
                    </p>
                </li><li>
                    <p>
                        If the Customer
                        has not removed his/her items from the placeBox by the last
                        contract day, placeB reserves the right to remove the items. If the
                        placeBox is occupied after the contract has expired the Customer is
                        obliged to pay an agreed upon fee and an additional penalty of 10%.

                    </p>
                </li></ol>
        </li></ol>
    <p>
        <br>
        <br>
    </p>
    <ol>
        <li>
            <p>
                <b>TERMS
                    OF USE</b></p>
            <ol>
                <li>
                    <p>
                        The Customer
                        shall use the assigned placeBox exclusively and may not store items
                        in other spaces, or on other surfaces in the building, or exceed
                        the defined parameters of his/her placeBox. The Customer may not
                        alter the space, walls, dividers, doors and electrical wiring
                        provided by placeB. He/She is also prohibited from removing,
                        damaging or using amenities, furniture and other items in the
                        placeBox for inappropriate purposes. The Customer is not entitled
                        to put nails in the placeBox wall, drill in screws or install any
                        other mountings.
                    </p>
                </li><li>
                    <p>
                        Only the storage
                        of items in the placeBox is permitted. The Customers is especially
                        prohibited from performing any type of tasks and erect technical
                        equipment, or other items requiring electricity. The placeBox may
                        not be used as a residential space, including short-term, or to
                        operate any type of business.</p>
                </li><li>
                    <p>
                        The Customer is
                        prohibited from using the placeBox, the building or the facility in
                        any manner disturbing or inhibiting other customers,  the
                        administration, the facility owner or placeB as such, or disrupt
                        traffic on the property in any way. The Customer shall refrain from
                        blocking the automatic doors and blocking the hallways, doors and
                        elevators unnecessarily. The use of common areas and equipment is
                        only permitted for loading and unloading purposes. Only customer
                        parking spaces may be utilized and are to be used for loading and
                        offloading purposes on timely basis.
                    </p>
                </li><li>
                    <p>
                        The regulations
                        listed at the person and cargo elevators shall apply, especially
                        with regard to the weight limit. The Customer must comply with the
                        authorized floor load.</p>
                </li><li>
                    <p>
                        Delivery and
                        removal of items must be performed diligently and may only be
                        performed in designated areas. The Customer shall remove any debris
                        resulting from delivery or removal of items immediately and without
                        a reminder. Potentially incurred damages must be reported to placeB
                        immediately, repairs will be scheduled at the Customer's expense.</p>
                </li><li>
                    <p>
                        The Customer is
                        obliged to report any damages in or on the placeBox to placeB
                        immediately.</p>
                </li><li>
                    <p>
                        The Customer
                        agrees to maintain the placeBox in proper and clean condition at
                        all times. He/She shall especially refrain from storing items in a
                        manner compromising the building or items stored by other customers
                        (e.g. pests, rust etc.)</p>
                </li><li>
                    <p>
                        It is strictly
                        prohibited to store the following items:
                    </p>
                    <ul>
                        <li>
                            <p>
                                hazardous,
                                toxic, flammable, explosive, radioactive or acidity  items;</p>
                        </li><li>
                            <p>
                                perishable,
                                fragrant or damp items;</p>
                        </li><li>
                            <p>
                                items disrupting
                                the use by other customers;</p>
                        </li><li>
                            <p>
                                ammunition;</p>
                        </li><li>
                            <p>
                                art work,
                                jewelry, money, stamps, clocks, coins, medals, precious metals,
                                precious stones;</p>
                        </li><li>
                            <p>
                                dead or alive
                                animals, plants and perishable food items;</p>
                        </li><li>
                            <p>
                                all items
                                requiring statutory mandated storage conditions or
                            </p>
                        </li><li>
                            <p>
                                all items that
                                are prohibited by law.</p>
                        </li></ul>
                </li><li>
                    <p>
                        Clothing, linens,
                        blankets rugs or similar items must be treated with moth repellant
                        by the Customer in advance.</p>
                </li><li>
                    <p>
                        IT IS STRICTLY
                        PROHIBITED TO SMOKE IN THE PREMISSES OF PLACEB, ESPECIALLY IN THE
                        ENTRANCE AREA, THE PARKING LOTS, IN THE HALLWAYS AND IN THE
                        PLACEBOXES. The Customer shall ensure that the functionality or
                        access to all fire prevention equipment, such as fire prevention
                        equipment, smoke detectors, sprinkler systems, fire extinguishers,
                        alarm buttons, escape routes, etc. is not blocked. All fire or
                        emergency staircases or other emergency exits may only be used in
                        case of fire or emergencies. Any type of storage in escape routes
                        is prohibited.
                    </p>
                </li><li>
                    <p>
                        Storing or
                        leaving behind trash in or around the placeBox and the building is
                        prohibited, the Customer is obliged to remove and dispose of all
                        trash. Disposal of waste left behind will be billed to the
                        Customer.</p>
                </li><li>
                    <p>
                        The Customer is
                        solely responsible for the use of all transportation equipment
                        provided.  placeB rejects any liability in the event of accidents
                        resulting from the use of the transportation equipment.</p>
                </li><li>
                    <p>
                        placeB reserves
                        the right to assign in its sole discretion another placeBox of the
                        same size in the same building during the contract term upon a
                        seven (7) day notice to the Customer. Expenses incurred due to
                        moving the items from one space to another will be covered by
                        placeB.</p>
                </li></ol>
        </li></ol>
    <p>
        <br>
        <br>
    </p>
    <p>
        <br>
        <br>
    </p>
    <ol>
        <li>
            <p>
                <b>ACESS
                    TO THE BUILDING AND PLACEBOX </b>
            </p>
            <ol>
                <li>
                    <p>
                        Entering and
                        leaving the facility and the placeBox is secured. The Customer can
                        only enter the building or the placeBox with the placeB app
                        provided by placeB. The building and the placeBox are monitored by
                        video surveillance cameras and the placeBox is equipped with an
                        individual alarm system. However, the Customer is advised that the
                        security measures do not meet the requirements of a safe or a
                        safety box.</p>
                </li><li>
                    <p>
                        The placeBox can
                        be accessed 24 hours on any day of the week. placeBox reserves the
                        right to adapt the opening hours.
                    </p>
                </li><li>
                    <p>
                        The Customer
                        agrees to comply with all safety measures (such as codes of
                        conduct, information signs, etc.) imposed by placeB, in particular
                        those addressing the access and the opening and locking system of
                        the building and the placeBox. The Customer shall ensure that
                        he/she is the only one entering the building when opening the
                        doors. The Customer must also ensure that the doors and gates are
                        closed properly. He/She must notify placeB of any problems.</p>
                </li><li>
                    <p>
                        EACH ALARM
                        ACTIVATION RESULTING FROM INCORRECT CONDUCT AND INVOLVING THE
                        DISPATCH OF A SECURITY FIRM, POLICE OR FIRE DEPARTMENT WILL BE
                        BILLED TO THE CUSTOMER AT A MINIMUM OF CHF 200.00.  In addition,
                        he/she will be required to pay for additional damages incurred,
                        unless he/she can prove that he/she is not at fault.
                    </p>
                </li><li>
                    <p>
                        The Customer is
                        responsible for the proper conduct and compliance with the access
                        regulations for all individuals he/she has authorized or contracted
                        to enter the building or the placeBox on his/her behalf and he/she
                        shall be held liable for their misconduct as if it was his/her own.</p>
                </li><li>
                    <p>
                        The Customer must
                        lock his/her placeBox and keep it locked during his/her absence.
                        placeB is not obliged to lock a placeBox that has not been locked.</p>
                </li><li>
                    <p>
                        Only the Customer
                        or his/her designated representatives shall have access to the
                        placeBox. However, placeB is entitled to enter the Customer's
                        placeBox in emergency situations (on behalf of the Customer, placeB
                        or third parties) and in the event of justifiable suspicion of
                        violation of this Self-Storage Contract or the law, and if
                        necessary, move the items to another placeBox or remove the items
                        altogether in an effort to prevent a potentially dangerous
                        situation. Upon prior notification of the Customer, placeB may
                        enter the Customer's placeBox within the scope of inspections,
                        maintenance or renovations.</p>
                </li><li>
                    <p>
                        The Customer is
                        not permitted to use any type of additional locks. If the Customer
                        does use such an aforementioned lock, placeB is entitled to remove
                        the lock or have it removed and disposed of without notifying the
                        Customer or asking for his/her prior consent.
                    </p>
                </li></ol>
        </li></ol>
    <p>
        <br>
        <br>
    </p>
    <ol>
        <li>
            <p>
                <b>TERM
                    &amp; TERMINATION</b></p>
            <ol>
                <li>
                    <p>
                        The Self-Storage
                        Contract may be limited or indefinite in terms of duration. The
                        parties shall agree to the specific terms of duration upon entering
                        into the Self-Storage Contract. If the Self-Storage Contract is
                        indefinite, the parties may agree to a minimum term.</p>
                </li><li>
                    <p>
                        If a limited
                        Self-Storage Contract has been agreed upon, and the Self-Storage
                        Contract is not extended or the items are not removed by the end of
                        the contract date, the Self-Storage Contract shall be extended
                        indefinitely.</p>
                </li><li>
                    <p>
                        An indefinite
                        Self-Storage Contract can be ordinarily terminated by both parties
                        with a two (2) week notice, however, no earlier than the minimum
                        duration if one has been agreed upon. A limited term Self-Storage
                        Contract cannot be terminated ordinarily.</p>
                </li><li>
                    <p>
                        Extraordinary
                        termination due to breach of contract is governed in Clause 8<i>.</i></p>
                </li></ol>
        </li></ol>
    <p>
        <br>
    </p>
    <p>
        <br>
    </p>
    <ol>
        <li>
            <p>
                <b>PAYMENT
                    TERMS &amp; SECURITY DEPOSIT</b></p>
            <ol>
                <li>
                    <p>
                        The provision of
                        a placeBox is subject to charges. The payment amount and payment
                        method shall be determined prior to entering into the Self-Storage
                        Contract.
                    </p>
                </li><li>
                    <p>
                        Full payment for
                        a Self-Storage Contract with a limited or a minimum term must be
                        rendered in advance. Payment for an indefinite contractual term
                        outside of the minimum term must be rendered monthly in advance.</p>
                </li><li>
                    <p>
                        placeB is
                        entitled to adjust the payment during an indefinite contractual
                        term (upon expiration of the potential minimum duration) at any
                        time and without a reason. The Customer shall be notified in
                        writing a minimum of four (4) weeks prior the change becoming
                        effective.</p>
                </li><li>
                    <p>
                        The Customer may
                        be subject to a security deposit payable to placeB in the minimum
                        amount of one month charge upon entering into the contract. This
                        amount may be adapted upon increasing the monthly payment. placeB
                        reserves the right to request a higher security deposit on a case
                        to case basis. The security deposit will not accrue interest and
                        shall be returned to the Customer no later than thirty (30) day
                        after contract expiration and timely, proper return of the
                        placeBox. However all pending contractual claims of placeB against
                        the Customer will be deducted.
                    </p>
                </li></ol>
        </li></ol>
    <p>
        <br>
    </p>
    <ol>
        <li>
            <p>
                <b>PLACEB
                    LIABILITY</b></p>
            <ol>
                <li>
                    <p>
                        placeB will not
                        insure the Customer's stored items. Storing the items shall be at
                        the Customer's own risk.
                    </p>
                </li><li>
                    <p>
                        placeB
                        REJECTS any and all liability for damages, loss or destruction of
                        the customer's items regardless of the reason (e.g. as a result
                        of theft, fire, water damage, vandalism) and regradless whether the
                        items were located in the placebox, within the building or on the
                        property.</p>
                </li><li>
                    <p>
                        THE CUSTOMER IS
                        SOLELY REPONSIBLE FOR GRANTING ACCESS TO HIS/HER PLACEBOX TO THIRD
                        PARTIES AND PLACEBOX SHALL NOT BE HELD LIABLE FOR DAMAGES, LOSS OR
                        THEFT OF THE CUSTOMER'S ITEMS RESULTING FROM GRANTING SUCH ACCESS
                        TO THIRD PARTIES.</p>
                </li><li>
                    <p>
                        PLACEB IS NOT
                        LIABLE IF ACCESSING THE PROPERTY OR THE PLACEBOX IS TEMPORARILY NOT
                        POSSIBLE, FOR INSTANCE, DUE TO A TECHNICAL PROBLEM. The Customer is
                        not entitled to any type of reimbursement by placeB due to
                        temporary service interruptions regarding the placeBox or the
                        property, such as water, electricity etc. or claim damage
                        entitlements or payment reductions.</p>
                </li></ol>
        </li></ol>
    <p>
        <br>
        <br>
    </p>
    <ol>
        <li>
            <p>
                <b>INSURANCE
                    FOR THE STORED ITEMS</b></p>
            <ol>
                <li>
                    <p>
                        The Customer must
                        obtain all-inclusive insurance coverage for the stored items and
                        maintain the coverage throughout the storage term. The insurance
                        coverage must include fire risk, explosion, water damage, robbery,
                        theft, vandalism and damages caused by the elements in the amount
                        of the stored items recovery value.</p>
                </li><li>
                    <p>
                        The Customer has
                        the following options to comply with the obligation to obtain
                        insurance coverage:</p>
                    <ul>
                        <li>
                            <p>
                                obtain insurance
                                coverage though placeB: placeB will obtain an insurance policy
                                with a renowned insurance company for this purpose; or
                            </p>
                        </li><li>
                            <p>
                                obtain insurance
                                with an insurance company of his/her choice or purchasing
                                additional coverage within the framework of an existing insurance
                                to cover the items stored at placeB.
                            </p>
                        </li></ul>
                </li><li>
                    <p>
                        If insurance
                        coverage is purchased through placeB,</p>
                    <ul>
                        <li>
                            <p>
                                the Customer
                                shall inform placeB of the stored items' new value,</p>
                        </li><li>
                            <p>
                                the Customer
                                shall inform placeB, if the stored items' new value changes
                                during the contractual term,
                            </p>
                        </li><li>
                            <p>
                                the insurance
                                will only cover the insured new value, but not any differences
                                between the insured new value and the actual loss,
                            </p>
                        </li><li>
                            <p>
                                insurance
                                coverage will lapse if the Customer is in arrears with the
                                respective insurance payment for more than ten (10) days. A
                                reminder is not required.
                            </p>
                        </li></ul>
                </li></ol>
        </li><li>
            <p><a></a>
                <b>TERMS
                    OF USE WLAN</b></p>
            <ol>
                <li>
                    <p>
                        placeB shall make
                        available to customers at certain locations wireless Internet
                        access (WLAN) on placeB's premises during the customer's stay.
                        placeB shall be under no obligation to warrant the actual
                        availability, suitability or dependability of this Internet access
                        for any purposes whatsoever, including in terms of volume. placeB
                        shall have the right to at any time limit customer's access
                        entirely, partially or for certain periods of time or to completely
                        exclude the customer from further use. In particular, placeB
                        reserves the right to block access via the WLAN to certain pages or
                        services at its complete discretion.
                    </p>
                </li><li>
                    <p>
                        placeB shall
                        provide the customer with access data (login
                        and password)
                        for the use of the WLAN. placeB may change this access data at any
                        time or limit its use to certain time periods. In this case, the
                        customer shall have the option to request new access data. The
                        customer shall undertake to keep the access data confidential at
                        all times.
                    </p>
                </li><li>
                    <p>
                        The customer is
                        aware of the fact that the WLAN merely establishes an access option
                        to the Internet. placeB shall not provide any further security
                        measures (e.g. virus protection, firewall, etc.). The
                        data communications established under the use of the WLAN utilize
                        WPA2 encryption so that any misuse by third parties can almost be
                        ruled out and the data may not be viewed by third parties. The use
                        of the data communications established under the WLAN is not
                        encrypted so that third party misuse cannot be ruled out and the
                        data may be viewed by third parties.
                        Customer shall use the WLAN at customer's own risk. placeB shall
                        not assume any liability for damages to end devices or customer
                        data as a result of the WLAN use.
                    </p>
                </li><li>
                    <p>
                        The customer
                        shall undertake to comply with applicable laws when using the WLAN.
                        Specifically, the customer shall:</p>
                    <ul>
                        <li>
                            <p>
                                Not illegally
                                reproduce, distribute or make publicly accessible any copyright
                                protected works;
                            </p>
                        </li><li>
                            <p>
                                Not use the WLAN
                                to distribute any unethical or illegal content;</p>
                        </li><li>
                            <p>
                                Comply with the
                                applicable legislation aiming at the protection of adolescents;</p>
                        </li><li>
                            <p>
                                Not send or
                                distribute any degrading, slanderous or threatening content;</p>
                        </li><li>
                            <p>
                                Not use the WLAN
                                to send spam and/or other types of impermissible advertising.</p>
                        </li></ul>
                </li><li>
                    <p>
                        The customer is
                        hereby notified that any use of the WLAN may be documented and
                        archived by placeB along with the IP address, MAC address, date and
                        duration.
                    </p>
                </li></ol>
        </li></ol>
    <p>
        <br>
        <br>
    </p>
    <p>
        <br>
        <br>
    </p>
    <ol>
        <li>
            <p>
                <b>DATA
                    PROTECTION</b></p>
            <ol>
                <li>
                    <p>
                        placeB will
                        comply with Switzerland's Data Protection Act and process
                        personal data accordingly.</p>
                </li><li>
                    <p>
                        The Customer
                        agrees that persons will be monitored by surveillance cameras in
                        the building and in the placeBox. The Customer explicitly agrees to
                        the storage, retention and analysis by placeB regarding the data
                        recorded by the surveillance cameras and access control units.</p>
                </li></ol>
        </li></ol>
    <p>
        <br>
        <br>
    </p>
    <ol>
        <li>
            <p>
                <b>CONSEQUENCES
                    OF A CONTRACTUAL BREACH </b>
            </p>
            <ol>
                <li>
                    <p>
                        If the Customer
                        does not comply with the payment terms or other conditions defined
                        in the Self-Storage Contract (incl. these GTCs):</p>
                    <ul>
                        <li>
                            <p>
                                placeB is
                                entitled to refuse the violating Customer access to the building
                                and/or the placeBox and to revoke access authorization;</p>
                        </li><li>
                            <p>
                                placeB may
                                terminate the Self-Storage Contract with the violating Customer
                                effective immediately and without notice, provided placeB has sent
                                a reminder to the violating Customer (incl. via e-mail and SMS)
                                and the violating Customer has failed to comply with his/her
                                payment or other obligations within ten (10) days upon receipt of
                                the reminder.  In the event of severe contractual violations
                                committed by the Customer, placeB is entitled to terminate the
                                contract immediately without a reminder or granting a notification
                                period; and/or
                            </p>
                        </li><li>
                            <p>
                                the violating
                                Customer shall be held liable for all damages incurred by placeB
                                due to his/her breach of contract.
                            </p>
                        </li></ul>
                </li><li>
                    <p>
                        The Customer
                        agrees to remove his/her items from the placeBox and return the
                        placeBox in clean condition within 48 hours upon receipt of an
                        extraordinary termination notice.
                    </p>
                </li><li>
                    <p>
                        The parties agree
                        that placeB is entitled to exercise retention rights regarding the
                        Customer's stored property in the event of open payment claims,
                        in which case the items are stored as the legal property of placeB
                        for the purpose of securing placeB's indemnities, payment and
                        damage claims resulting from the Self-Storage Contract with the
                        Customer, placeB may:</p>
                    <ul>
                        <li>
                            <p>
                                store the items
                                at another location at the Customer's expense and risk,
                            </p>
                        </li><li>
                            <p>
                                sell the items
                                (at its discretion, independently or by the way of auction), in an
                                effort to recover losses, or,</p>
                        </li><li>
                            <p>
                                dispose of the
                                items if the items are of low value or no value.
                            </p>
                        </li></ul>
                </li></ol>
        </li></ol>
    <p>
        <br>
        <br>
    </p>
    <p>
        The profit from all
        sales of the items shall be used to cover the losses incurred by
        placeB. The losses not covered by the sale of the Customer's
        property, as well as the costs incurred from the sale or the
        destruction of the items must be covered by the Customer. Potential
        surplus from the sale of items shall be deposited in a non-interest
        bearing account, whereby the Customer may claim the balance.
    </p>
    <p>
        <br>
        <br>
    </p>
    <ol>
        <li>
            <p>
                <b>MISCELLANEOUS</b></p>
            <ol>
                <li>
                    <p>
                        placeB reserves
                        the right to amend these GTCs unilaterally based on developing
                        situations and business experience, whereby placeB shall ensure
                        that no extensive and unjustified disproportion between the
                        Customer's contractual entitlements and contractual obligations
                        will occur. Such amended GTCs shall apply to the Self-Storage
                        Contract with the Customer.</p>
                </li><li>
                    <p>
                        The Customer is
                        not permitted to sublease the placeBox in part or entirely, but
                        he/she may grant use to third parties. The responsibility shall
                        remain with the Customer.</p>
                </li></ol>
        </li></ol>
    <p>
        <br>
        <br>
    </p>
    <ol>
        <ol>
            <li>
                <p>
                    Transferring this
                    Self-Storage Contract requires the written consent of placeB.
                    placeB is entitled to reject the transfer without stating a reason.

                </p>
            </li><li>
                <p>
                    The Customer
                    shall notify placeB of changes in address, telephone number and
                    e-mail address immediately. Until this information is received,
                    placeB is entitled to legally send correspondence to the last known
                    addresses and telephone numbers.</p>
            </li><li>
                <p>
                    If certain
                    conditions in this Self-Storage Contract should be, or become
                    invalid, the remaining conditions shall remain valid entirely. The
                    invalid condition shall be replaced by a condition closest to the
                    parties' intent.</p>
            </li><li>
                <p>
                    placeB is
                    entitled to communicate with the Customer using the cellular
                    telephone number and/or e-mail provided by the customer.</p>
            </li></ol>
    </ol>
    <p>
        <br>
        <br>
    </p>
    <ol>
        <li>
            <p>
                <b>APPLICABLE
                    LAW &amp; JURISDICTION</b></p>
            <ol>
                <li>
                    <p>
                        This Self-Storage
                        Contract is subject to Swiss Law under exclusion of the conflict of
                        law provisions and the United Nation Convention for the
                        International Sale of Goods (CISG).</p>
                </li><li>
                    <p>
                        The Courts of the
                        City of Zurich (district 5) are responsible for all disputes
                        resulting from this Self-Storage Contract.</p>
                </li></ol>
        </li></ol>
</div>