---
layout: base
---

<div class="splash-container">


    <div class="splash content">

        <div class="key-visual">
            <span class="floaty floaty15 green tiny"></span>
            <span class="floaty floaty14 green tiny"></span>
            <span class="floaty floaty13 green tiny"></span>
            <span class="floaty floaty12 green tiny"></span>
            <span class="floaty floaty10 yellow small"></span>
            <span class="floaty floaty9  yellow small"></span>
            <span class="floaty floaty8  yellow small"></span>
            <span class="floaty floaty7  yellow small"></span>
            <span class="floaty floaty6  icon medium"></span>
            <span class="floaty floaty5  icon medium"></span>
            <span class="floaty floaty4  icon small"></span>
            <span class="floaty floaty3  icon medium"></span>
            <span class="floaty floaty2  icon medium"></span>
            <span class="floaty floaty1  icon large"></span>
        </div>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                <h1 class="splash-subhead">Lagerraum. Sicher, clever, 24/7.</h1>

                <h2 class="splash-head">
                    Hier wohnt dein Platz.
                </h2>
                {% include stores.html location="hero" %}
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper">
{{ content }}
{% include footer.html %}
</div>