<div class="container clearfix mt2 page" [ngClass]="{'loaded': pageLoaded}">
    <div class="col col-4 boxes-aside" *ngIf="reservations.length">
        <p class="center mx-auto boxes-aside__top">{{ 'myBoxes' | loc:locale}}</p>
        <ul class="boxes-aside__boxes-list mx-auto block">
            <li *ngIf="reservations | amount:'current'" class="boxes-aside__boxes-list__item center mx-auto block"
                [ngClass]="{'boxes-aside__boxes-list__item--inactive': categorySelected !== 'current' }">
                <span (click)="selectCategory('current')">{{ 'current' | loc:locale}} ({{reservations | amount:'current'}})</span>
            </li>
            <li *ngIf="reservations | amount:'future'" class="boxes-aside__boxes-list__item center mx-auto block"
                [ngClass]="{'boxes-aside__boxes-list__item--inactive': categorySelected !== 'future' }">
                <span (click)="selectCategory('future')">{{ 'future' | loc:locale}} ({{reservations | amount:'future'}})</span>
            </li>
            <li *ngIf="reservations | amount:'locked'" class="boxes-aside__boxes-list__item center mx-auto block"
                [ngClass]="{'boxes-aside__boxes-list__item--inactive': categorySelected !== 'locked' }">
                <span (click)="selectCategory('locked')">{{ 'locked' | loc:locale}} ({{reservations | amount:'locked'}})</span>
            </li>
            <li *ngIf="reservations | amount:'canceled'" class="boxes-aside__boxes-list__item center mx-auto block"
                [ngClass]="{'boxes-aside__boxes-list__item--inactive': categorySelected !== 'canceled' }">
                <span (click)="selectCategory('canceled')">{{ 'canceled' | loc:locale}} ({{reservations | amount:'canceled'}})</span>
            </li>
        </ul>
    </div>


    <div class="col boxes-main" [ngClass]="{'col-8': reservations.length, 'col-12': !reservations.length}">
        <div *ngIf="!reservationsFetched">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
        <div *ngIf="!amount && reservationsFetched" class="mx-auto">
            <img class="block mx-auto" src="app/assets/bitmap.png" alt="">
            <p class="center p--bigger">{{ 'noBoxes' | loc:locale}}</p>
        </div>
        <ul class="boxes-main__list">
            <li class="boxes-main__list__item mt2 mb2 clearfix" *ngFor="#res of reservations | filter:categorySelected">
                <div class="left p2 mr1" *ngIf="res.box.category.imageUrl">
                    <img src="{{res.box.category.imageUrl}}" class="" alt=""/>
                </div>
                <div class="overflow-hidden">
                    <p class="text-green categories__item-wrapper__headline inline-block">
                        {{res.box.category.title}}
                    </p>
                    <p class="right" class="box-id" style="margin-top: 1em; color: darkgray;">
                        {{res.box.boxId}}
                    </p>
                    <p class="categories__item-wrapper__pricing">
                        {{res.durationPrice|customCurrency:'CHF'}}/{{ 'month' | loc:locale}} ({{res.duration}} {{ res.durationUnit | loc:locale}})
                    </p>
                    <p class="categories__item-wrapper__sizes"> {{res.box | boxSize : locale}}
                    <div class="clearfix"></div>
                </div>
            </li>
        </ul>
    </div>
</div>
