<nav class="clearfix p2 mx-auto navigation flex justify-center ">
    <a [routerLink]="['Home']" class="navigation__tab px1 flex-auto center navigation__first-item relative block"

       [ngClass]="{'navigation__tab--active': isCurrentRoute(''), 'navigation__last-item' : !isLoggedIn()  }">{{'locations' | loc:locale}}</a>
    <a [routerLink]="['Boxes']" *ngIf="isLoggedIn()" class="navigation__tab px1 flex-auto center block"
       [ngClass]="{'navigation__tab--active': isCurrentRoute('/boxes') }">{{ 'myBoxes' | loc:locale}}</a>
    <a [routerLink]="['Settings']" *ngIf="isLoggedIn()"
       class="navigation__tab px1 flex-auto center navigation__last-item relative block"
       [ngClass]="{'navigation__tab--active': isCurrentRoute('/settings') }">{{ 'settings' | loc:locale}}</a>
</nav>

<login [opened]="authModalOpened" (toggle)="toggleModal($event)"></login>
<signup [opened]="registrationModalOpened" (toggle)="toggleRegistrationModal($event)"></signup>

<div class="container-main">
    <div *ngIf="!isLoggedIn()" class="mt2 mb2 mx-auto clearfix permissions-block">
        <div class="">{{ 'permissionsAlert' | loc:locale}}</div>
        <div class="right">
            <a href="" id="login-btn" (click)="authModalOpened = true;$event.preventDefault()" class="btn not-rounded btn-transparent">
                {{ 'login' | loc:locale}}
            </a>
            <a href="" (click)="registrationModalOpened = true;$event.preventDefault()" class="btn not-rounded btn-transparent">
                {{ 'signUp' | loc:locale}}
            </a>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
