<div class="modal-window" [ngClass]="{'modal-open modal-window--reservation px3 py3': reservation}">
    <div *ngIf="reservation">
        <div class="spinner-overlay" *ngIf="isSending">
            <div class="spinner-reservation">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
            <div class="spinner-text">{{ 'bookingBox' | loc:locale}}</div>

        </div>
        <a href="#" (click)="close.emit('close')" class=""
           style="display:inline-block;position:absolute;top:0;right:10px;font-size:1.5em;">&times;</a>
        <form (submit)="makeReservation($event)" [ngFormModel]="form">

            <fieldset class="location-reservation">

                <div class="mb3">
                    <label class="left">

                    </label>
                    <input class="input input--transparent right" type="text" name="" [(ngModel)]="location.name"
                           disabled="disabled">

                </div>

                <div>
                    <label class="left">
                        {{ 'selectedBoxSize' | loc:locale}}
                    </label>
                    <input class="input input--transparent right" type="text" name="" [(ngModel)]="reservation.title"
                           disabled="disabled">

                </div>


            </fieldset>

            <h2>{{ 'reservationTerm' | loc:locale}}</h2>
            <fieldset>
                <div class="mb2">
                    <div class="col col-6">
                        <label class="reservation-label">
                            <p>{{ 'from' | loc:locale}}</p>
                            <input class="input" type="{{inputType}}" placeholder="yyyy-MM-dd" ngControl="startDate" name="startDate">
                        </label>
                    </div>

                    <div class="col col-6">
                        <label class="reservation-label">
                            <p>{{ 'duration' | loc:locale}}</p>
                            <select class="input" type="text" [(ngModel)]="selectedDuration"
                                    (change)="setDuration($event.target.value);">
                                <option disabled value="default">{{ 'selectDuration' | loc:locale}}</option>
                                <option *ngFor="#dur of reservation.durations" value="{{dur.id}}">{{dur.duration}}
                                    {{ dur.unit | loc:locale}}
                                    ({{dur.price|customCurrency:'CHF'}})
                                </option>
                            </select>
                        </label>
                    </div>
                    <div class="clear clearfix"></div>
                </div>


                <label class="reservation-label">
                    <p>{{ 'boxValue' | loc:locale}}</p>
                    <input class="input input-full" type="number" ngControl="boxValue"
                           (ngModelChange)="calculateOrder()" name="boxValue" min="0">
                </label>

            </fieldset>

            <h2>{{ 'insuranceApproach' | loc:locale}}</h2>
            <fieldset>
                <label class="reservation-label  reservation-label--underline mb2 py1">
                    <span>{{ 'insuranceAppYes' | loc:locale}}</span>
                    <input class="input right relative reservation-label-radio" type="radio"
                           [checked]="includeInsurance === 1"
                           (click)="includeInsurance = 1; calculateOrder()" name="insurance">
                </label>

                <label class="reservation-label reservation-label--underline mb2 py1">
                    <span class="reservation-label__caption">{{ 'insuranceAppNo' | loc:locale}}</span>
                    <input class="input right relative reservation-label-radio" type="radio"
                           [checked]="includeInsurance === 0"
                           (click)="includeInsurance = 0; calculateOrder()" name="insurance">
                </label>
            </fieldset>

            <div class="mb3 mt2 mxn1">
                <!--<input type="hidden" [(ngModel)]="reservationDetails.card">-->
                <div class="col col-6 px1">
                    <label class="reservation-label">
                        <p>{{ 'cardNumber' | loc:locale }}</p>
                        <input type="text" name="" class="input input-full center" maxlength="20" data-stripe="number"
                               placeholder="1111111111111111" ngControl="cardNumber">
                    </label>
                </div>
                <div class="col col-2 px1">
                    <label class="reservation-label">
                        <p>CVV: </p>
                        <input type="text" name="" class="input input-full" size="4" data-stripe="cvc" placeholder="CVV"
                               ngControl="cardCVV">
                    </label>
                </div>
                <div class="col col-2 px1">
                    <label class="reservation-label">
                        <p>Mnt: </p>
                        <input type="text" name="" class="input input-full" data-stripe="exp-month"
                               placeholder="11" ngControl="cardMonth">
                    </label>
                </div>
                <div class="col col-2 px1">
                    <label class="reservation-label">
                        <p>{{ 'year' | loc:locale}}: </p>
                        <input type="text" name="" class="input input-full" data-stripe="exp-year"
                               placeholder="17" ngControl="cardYear">
                    </label>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="">
                <p>
                    <span>{{ 'monthlyUsageCost' | loc:locale}}</span>
                    <span class="right">{{durationCost|customCurrency:'CHF'}}</span>
                </p>
                <p>
                    <span>{{ 'monthlyInsuranceCost' | loc:locale}}</span>
                    <span class="right" *ngIf="includeInsurance">{{insuranceCost|customCurrency:'CHF'}}</span>
                    <span class="right" *ngIf="!includeInsurance">{{0.0|customCurrency:'CHF'}}</span>
                </p>
                <p>
                    <span>{{ 'totalPrice' | loc:locale}}</span>
                    {{ 'includesVAT' | loc:locale}}
                    <span class="right">{{reservationTotal|customCurrency:'CHF'}}</span>
                </p>
            </div>

            <p class="error-message" *ngIf="errors.length">{{errors}}</p>

            <button type="submit" name="button" [disabled]="!form.valid || isSending"
                    class="btn btn-green--auth right mt3">{{ 'accept' | loc:locale}}
            </button>
        </form>
    </div>

</div>

<payment></payment>
