<div class="container page">
    <form class="" #settingsForm="ngForm" (submit)="updateSettings()">
        <h3 class="settings-headline mb2">{{ 'generalInfo' | loc:locale}}</h3>
        <div class="settings-input-container mb2 mx-auto">
            <input type="email" value="" [(ngModel)]="dataToUpdate.email" placeholder="{{ 'email' | loc:locale}}" ngControl="email">
            <input type="text" value="" [(ngModel)]="dataToUpdate.firstName" placeholder="{{ 'firstName' | loc:locale}}">
            <input type="text" value="" [(ngModel)]="dataToUpdate.lastName" placeholder="{{ 'lastName' | loc:locale}}">
            <input type="text" value="" [(ngModel)]="dataToUpdate.phone" placeholder="{{ 'phone' | loc:locale}}">
            <input type="hidden" value="MR" [(ngModel)]="dataToUpdate.honorificTitle" placeholder="">
        </div>

        <h3 class="settings-headline mb2">{{ 'address' | loc:locale}}</h3>
        <div class="settings-input-container mb2 mx-auto">
            <input type="text" value="" [(ngModel)]="dataToUpdate.country" placeholder="{{ 'country' | loc:locale}}">
            <input type="text" value="" [(ngModel)]="dataToUpdate.city" placeholder="{{ 'city' | loc:locale}}">
            <input type="text" value="" [(ngModel)]="dataToUpdate.zip" placeholder="{{ 'zip' | loc:locale}}">
            <input type="text" value="" [(ngModel)]="dataToUpdate.street" placeholder="{{ 'street' | loc:locale}}">
        </div>

        <h3 class="settings-headline mb2">{{ 'password' | loc:locale}}</h3>
        <div class="settings-input-container mb2 mx-auto">
            <input type="text" value="" [(ngModel)]="dataToUpdate.plainPassword" placeholder="{{ 'password' | loc:locale}}">
        </div>

        <button type="submit" class="right btn btn-green--settings mt2 mb2" name="button">
            {{ 'save' | loc:locale}}
        </button>
    </form>
    <button type="submit" (click)="logOut()" class="right btn btn-green--settings mt2 mb2 btn--lo" name="button">
        {{ 'logOut' | loc:locale}}
    </button>
</div>
